In [1]:
credit = read.csv('../../R_projects//MLwR//Machine Learning with R (2nd Ed.)//Chapter 05//credit.csv')

In [2]:
library(caret)

Loading required package: lattice
Loading required package: ggplot2

In [3]:
modelLookup('C5.0')

  model parameter label                 forReg forClass probModel
1 C5.0  trials    # Boosting Iterations FALSE  TRUE     TRUE
2 C5.0  model     Model Type            FALSE  TRUE     TRUE
3 C5.0  winnow    Winnow                FALSE  TRUE     TRUE

In [4]:
set.seed(300)

In [5]:
m = train(default ~ ., data = credit, method = 'C5.0')

Loading required package: C50
Loading required package: plyr

In [6]:
m

C5.0

1000 samples
  16 predictor
   2 classes: 'no', 'yes'

No pre-processing
Resampling: Bootstrapped (25 reps)
Summary of sample sizes: 1000, 1000, 1000, 1000, 1000, 1000, ...
Resampling results across tuning parameters:

  model  winnow  trials  Accuracy   Kappa
  rules  FALSE    1      0.6847204  0.2578421
  rules  FALSE   10      0.7112829  0.3094601
  rules  FALSE   20      0.7221976  0.3260145
  rules   TRUE    1      0.6888432  0.2549192
  rules   TRUE   10      0.7113716  0.3038075
  rules   TRUE   20      0.7233222  0.3266866
  tree   FALSE    1      0.6769653  0.2285102
  tree   FALSE   10      0.7222552  0.2880662
  tree   FALSE   20      0.7297858  0.3067404
  tree    TRUE    1      0.6771020  0.2219533
  tree    TRUE   10      0.7173312  0.2777136
  tree    TRUE   20      0.7285714  0.3058474

Accuracy was used to select the optimal model using  the largest value.
The final values used for the model were trials = 20, model = tree and winnow
 = FALSE.

1. A brief description of the input dataset.
2. A report of the preprocessing and resampling methods applied
3. A list of the candidate models evaluated: 12 different models were tested based on the combinations of three C5.0 tuning parameters
4. The choice of the best model

In [7]:
p = predict(m, credit)

In [8]:
table(p, credit$default)

p      no yes
  no  700   2
  yes   0 298

In [9]:
head(predict(m, credit))

[1] no  yes no  no  yes no
Levels: no yes

In [10]:
head(predict(m, credit, type = 'prob'))

  no        yes
1 0.9606970 0.03930299
2 0.1388444 0.86115561
3 1.0000000 0.00000000
4 0.7720279 0.22797208
5 0.2948062 0.70519385
6 0.8583715 0.14162851

## choosing the resampling method

trainControl() is used to create a set of configuration options known as a control object, which guides the train() function.

In [11]:
ctrl = trainControl(method = 'cv', number = 10, 
                   selectionFunction = 'oneSE')

## choosing the grid of parameters to optimize

In [12]:
grid = expand.grid(.model = 'tree',
                  .trials = c(1, 5, 10, 15, 20, 25, 30, 35),
                  .winnow = "FALSE")

In [13]:
grid

  .model .trials .winnow
1 tree    1      FALSE
2 tree    5      FALSE
3 tree   10      FALSE
4 tree   15      FALSE
5 tree   20      FALSE
6 tree   25      FALSE
7 tree   30      FALSE
8 tree   35      FALSE

In [14]:
set.seed(300)

In [15]:
m = train(default ~ ., data = credit, method = "C5.0",
         metric = 'Kappa',
         trControl = ctrl,
         tuneGrid = grid)

Warning message in Ops.factor(x$winnow):
“‘!’ not meaningful for factors”

In [16]:
m

C5.0

1000 samples
  16 predictor
   2 classes: 'no', 'yes'

No pre-processing
Resampling: Cross-Validated (10 fold)
Summary of sample sizes: 900, 900, 900, 900, 900, 900, ...
Resampling results across tuning parameters:

  trials  Accuracy  Kappa
   1      0.724     0.3124461
   5      0.713     0.2921760
  10      0.719     0.2947271
  15      0.721     0.3009258
  20      0.717     0.2929875
  25      0.728     0.3150336
  30      0.729     0.3104144
  35      0.741     0.3389908

Tuning parameter 'model' was held constant at a value of tree
Tuning
 parameter 'winnow' was held constant at a value of FALSE
Kappa was used to select the optimal model using  the one SE rule.
The final values used for the model were trials = 1, model = tree and winnow
 = FALSE.

## improving model performance with meta-learning (teamwork-based techniques / ensembles)

+ better generalizability to future problems
+ improved performance on massive or miniscule datasets
+ ability to synthesize data from distinct domains
+ a more nuanced understanding of difficult learning tasks

## Bagging

Uses a technique called bootstrap aggregating or bagging. Bagging generates a number of training datasets by bootstrap sampling the original data. These datasets are then used to generate a set of models using a single learning algorithm. Predictions are combined using voting or averaging (for numeric prediction).

In [17]:
library('ipred')

In [18]:
set.seed(300)
mybag = bagging(default ~ ., data = credit, nbagg = 25)

In [19]:
credit_pred = predict(mybag, credit)

In [20]:
table(credit_pred, credit$default)

credit_pred  no yes
        no  699   2
        yes   1 298

In [21]:
set.seed(300)
ctrl = trainControl(method = 'cv', number = 10)
train(default ~ ., data = credit, method = 'treebag', trControl = ctrl)

Loading required package: e1071

Bagged CART

1000 samples
  16 predictor
   2 classes: 'no', 'yes'

No pre-processing
Resampling: Cross-Validated (10 fold)
Summary of sample sizes: 900, 900, 900, 900, 900, 900, ...
Resampling results:

  Accuracy  Kappa
  0.747     0.3618416

In [22]:
str(svmBag)

List of 3
 $ fit      :function (x, y, ...)
 $ pred     :function (object, x)
 $ aggregate:function (x, type = "class")

In [23]:
svmBag$fit

function (x, y, ...)
{
    loadNamespace("kernlab")
    out <- kernlab::ksvm(as.matrix(x), y, prob.model = is.factor(y),
        ...)
    out
}
<environment: namespace:caret>

In [24]:
bagctrl = bagControl(fit = svmBag$fit,
                    predict = svmBag$pred,
                    aggregate = svmBag$aggregate)

In [26]:
library(caret)
library(ipred)

In [28]:
set.seed(300)
svmbag <- train(default ~ ., data = credit, "bag",
                trControl = ctrl, bagControl = bagctrl)

Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,6,8,9,10,13,15,17,22,27,28,32,33,36,37,39,42,43,45,47,50,51,55,57,59,60,63,64,65,67,69,73,78,80,86,89,95,100,104,110,112,118,120,121,124,128,129,132,134,135,138,139,140,144,150,151,154,155,157,162,165,166,167,169,175,177,179,180,182,190,194,195,201,203,207,209,213,215,216,218,220,222,225,227,229,233,235,238,241,243,245,246,248,252,254,255,264,268,273,274,275,279,280,281,286,287,289,291,293,295,297,300,302,306,311,315,319,320,322,324,326,327,334,338,341,342,348,349,351,352,356,358,360,363,369,370,372,374,377,378,384,386,388,393,394,396,398,400,403,404,405,407,410,413,414,420,422,425,427,428,435,440,443,445,447,448,450,452,454,459,461,464,465,466,468,469,471,473,475,476,478,480,481,486,487,489,490,492,493,498,501,502,507,514,516,518,522,523,529,536,542,546,548,551,552,554,557,559,561,563,566,569,570,571,574,575,581,582,584,586,587,590,591,593,600,603,605,607,610,612,613,616,618,620,622,623,627,629,633,636,637,641,644,647,651,655,657,658,659,661,664,666,667,669,670,676,681,682,684,685,689,690,691,692,694,695,697,698,700,701,702,704,706,711,713,715,717,718,722,723,725,726,728,729,730,738,745,746,750,752,754,755,757,758,763,765,767,769,771,774,776,785,787,790,793,795,797,798,802,803,806,808,819,822,823,828,830,831,833,834,835,840,842,843,846,849,851,857,860,864,866,867,868,872,873,875,876,878,880,882,883,885,887,889,893,895,897,898 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,5,7,10,12,13,18,21,24,25,39,42,44,45,50,52,53,54,56,58,59,60,62,65,69,72,73,74,75,79,82,83,88,92,94,95,97,102,103,105,107,109,111,112,113,115,117,122,125,128,131,134,136,139,142,145,150,154,156,158,163,164,168,170,171,173,176,178,186,187,188,192,194,198,199,201,202,204,210,215,216,219,221,222,223,226,227,233,237,242,243,256,258,259,261,265,271,274,278,282,284,289,294,296,298,301,303,304,305,311,312,314,315,317,319,329,332,333,334,335,337,340,348,350,353,356,358,359,369,376,377,379,380,381,386,392,397,398,401,403,405,408,410,413,414,419,422,423,426,429,432,433,436,438,441,442,444,450,453,454,458,463,466,470,472,474,476,479,482,483,485,486,487,491,495,498,500,503,504,506,510,513,515,522,524,531,534,540,541,544,545,546,549,550,551,553,555,556,560,562,564,566,569,575,576,578,581,582,583,585,586,589,592,595,596,598,599,601,605,607,609,612,614,619,621,623,624,626,627,629,630,632,638,640,643,644,646,648,651,653,655,656,657,659,664,670,673,680,684,687,694,696,705,707,709,710,712,721,722,725,730,734,736,737,739,742,744,746,747,750,751,753,754,759,761,762,765,766,768,771,772,776,778,781,782,787,792,797,799,801,803,811,815,818,820,823,824,826,827,829,831,832,836,837,838,840,841,844,850,854,857,858,859,862,863,867,870,871,875,876,878,881,883,886,887,891,893,897,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,4,7,16,18,22,28,30,32,34,36,38,39,42,43,44,45,47,50,52,54,55,57,58,63,66,67,69,71,75,76,80,83,87,91,98,99,100,103,106,109,112,114,115,116,119,121,122,124,127,133,135,139,141,143,145,147,150,151,152,159,162,163,169,170,175,179,180,183,185,190,193,195,196,201,205,213,219,223,225,228,232,233,237,238,240,243,244,245,247,251,261,263,264,266,268,271,273,274,276,280,281,282,283,286,288,290,292,293,298,300,301,304,305,307,308,311,312,315,317,319,320,323,336,342,343,345,348,350,354,356,357,361,368,372,374,378,380,383,384,386,388,391,395,397,399,402,403,408,409,413,415,417,421,422,427,433,437,438,439,441,447,448,450,454,455,456,457,460,462,471,474,476,477,478,480,487,491,492,497,500,504,505,506,508,510,511,519,525,532,539,543,545,547,550,554,557,559,560,563,565,569,570,571,573,575,576,578,579,581,582,585,588,591,594,604,606,612,614,617,622,630,633,635,636,639,640,641,643,648,651,658,659,663,665,669,670,673,677,678,680,683,684,685,691,692,694,696,699,703,704,705,708,714,715,717,718,721,722,731,732,733,735,737,741,744,747,749,753,754,757,761,776,787,788,790,793,795,800,802,804,807,809,811,812,815,819,820,823,824,826,832,833,836,840,844,848,852,853,856,857,860,861,864,866,868,869,871,874,876,878,880,884,886,888,891,892,894,899,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,3,6,9,12,14,18,22,25,27,28,31,33,35,37,39,40,41,43,45,46,47,52,62,64,66,68,71,72,76,78,80,84,89,90,93,96,99,100,103,104,107,108,110,112,114,115,117,119,121,124,126,127,128,132,133,134,137,138,141,142,144,150,156,157,159,160,161,163,166,167,168,170,172,173,176,184,190,192,193,194,196,203,208,211,215,219,225,228,230,232,233,235,244,246,247,250,252,254,255,258,262,263,266,268,270,271,273,275,279,287,288,291,293,294,296,298,300,302,303,304,308,314,319,321,323,326,327,330,332,333,334,336,338,341,343,345,346,348,350,351,352,357,359,361,363,365,370,375,383,386,394,397,398,411,413,415,420,421,426,429,432,433,435,437,438,439,443,450,454,459,466,468,469,470,472,474,477,479,480,485,489,492,494,498,500,501,504,514,516,523,526,529,534,538,539,542,546,550,551,554,561,563,564,566,568,571,573,574,576,577,581,583,587,588,590,593,596,598,599,607,609,611,615,619,623,624,628,629,631,641,645,649,652,654,657,661,662,663,665,666,668,672,675,676,680,682,685,691,694,700,701,710,711,713,714,716,719,722,727,734,735,738,741,750,752,753,755,758,759,762,764,766,767,768,771,773,774,780,782,785,786,787,793,794,797,799,806,807,809,812,816,820,821,823,824,830,840,841,843,847,849,851,854,855,856,865,868,871,872,878,879,880,884,893,894,895,897 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 5,7,8,15,17,19,20,21,23,24,29,33,35,39,40,46,47,50,51,52,56,58,60,62,64,66,69,73,75,76,80,82,84,88,91,93,96,97,101,108,109,111,114,125,127,130,131,135,138,140,144,148,151,155,156,159,160,161,162,164,166,168,169,170,172,174,177,178,183,185,190,196,200,202,204,205,206,210,212,214,216,221,223,225,228,230,234,235,240,245,247,251,253,255,258,260,263,269,272,275,278,286,292,298,300,301,303,305,306,307,309,312,318,319,325,326,327,328,332,337,339,346,353,355,359,360,363,364,365,367,368,378,379,381,382,386,387,391,393,396,398,402,405,409,411,413,416,417,420,424,426,428,431,435,441,443,444,446,449,450,453,454,457,460,461,464,466,472,475,476,477,481,486,487,490,491,497,498,499,501,504,507,510,517,518,519,527,529,536,541,542,553,560,565,567,573,575,577,578,579,580,584,587,588,589,591,592,593,595,598,600,603,604,605,608,612,613,616,618,620,622,624,625,626,630,631,639,641,642,646,648,649,652,655,657,658,661,663,668,669,671,679,680,681,683,685,687,691,692,698,700,704,705,707,709,711,712,716,718,722,723,730,733,739,741,746,748,752,753,759,762,763,765,766,770,771,774,775,777,778,782,784,786,793,802,803,805,806,808,809,810,818,819,823,824,826,827,828,830,832,837,838,842,844,845,846,848,852,854,857,863,869,872,876,879,882,885,886,893,895,896,897,898 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 5,8,9,13,15,17,18,20,22,24,25,27,28,31,33,36,37,41,43,45,47,48,51,57,58,60,66,68,69,72,73,75,76,79,80,82,83,87,91,93,94,96,99,104,105,106,109,110,111,112,114,116,117,120,123,124,131,132,133,140,143,145,146,147,152,159,163,166,167,173,178,179,186,192,194,196,199,205,207,209,212,216,219,220,223,224,226,229,236,238,241,242,244,246,250,253,256,258,261,263,264,265,271,272,276,280,287,288,291,298,300,301,302,304,306,310,313,316,317,320,321,322,324,331,332,334,336,338,339,345,346,349,357,358,360,362,365,368,369,373,379,385,390,394,397,398,401,403,405,407,408,411,416,418,420,421,424,428,432,433,436,438,439,443,444,445,448,454,455,459,461,463,465,473,475,478,485,496,498,501,504,510,512,515,516,518,522,525,526,527,530,532,533,535,538,539,547,548,553,556,558,560,561,563,565,568,569,570,572,575,576,579,581,582,583,585,586,589,596,599,600,602,603,608,610,612,616,620,623,625,626,629,631,632,635,639,640,646,647,649,656,663,666,670,672,677,681,683,686,687,688,689,693,694,697,699,706,708,710,718,720,722,723,725,728,733,736,738,744,746,749,752,755,756,758,760,763,765,766,769,772,774,775,777,778,786,787,792,793,795,796,797,800,801,805,809,812,814,816,819,820,823,826,832,834,837,844,850,851,853,855,856,859,861,863,865,866,870,871,873,879,881,882,883,888,890,893,897,898 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,4,6,8,10,11,13,16,19,21,23,24,27,28,30,35,40,42,44,46,51,52,54,58,62,68,70,71,72,74,75,76,78,85,89,93,95,96,98,101,103,104,105,106,107,110,111,112,113,114,118,119,121,126,128,130,134,139,141,143,145,147,153,158,162,165,169,172,180,181,183,187,188,189,190,194,196,199,201,202,206,208,209,210,212,213,217,218,219,220,226,230,232,234,238,240,243,247,250,253,254,257,261,270,275,276,278,279,281,282,288,290,291,294,298,299,301,304,308,311,312,313,316,320,322,325,327,328,334,336,338,340,343,344,346,348,349,350,352,357,359,360,362,365,369,370,372,373,374,376,378,379,390,391,393,396,399,404,409,410,411,414,416,417,423,425,429,431,433,435,438,440,442,444,446,448,451,454,455,458,468,470,472,474,483,485,488,490,492,493,495,499,505,506,508,509,512,516,517,519,520,522,530,531,533,535,536,537,539,541,543,544,547,549,552,553,555,557,560,561,562,565,568,574,577,578,580,582,585,588,591,592,595,597,600,608,609,613,614,616,618,621,625,628,629,631,633,635,639,641,643,645,646,650,651,656,658,660,662,663,667,670,677,687,688,689,690,694,696,700,702,704,708,711,712,719,720,724,726,728,729,731,732,733,735,741,745,750,753,754,755,757,762,765,767,769,778,780,783,784,785,788,799,800,802,804,806,807,811,813,815,817,818,819,821,822,828,831,833,834,836,840,842,847,849,853,854,857,858,861,862,865,867,868,870,874,876,880,881,883,887,889,891,893,897 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,4,5,7,15,17,24,25,29,34,36,40,41,43,50,51,52,54,56,58,59,60,61,63,64,65,69,70,78,80,82,83,86,88,89,92,94,96,98,100,102,105,107,109,112,113,115,120,124,135,137,139,140,142,143,145,146,151,152,153,156,157,161,164,166,167,174,175,181,185,186,187,190,191,193,197,200,207,209,212,214,216,218,222,223,229,230,231,235,237,241,249,251,261,262,265,266,270,271,273,274,276,280,281,282,285,291,292,293,294,296,298,299,301,305,308,309,311,318,319,322,325,332,334,338,341,343,346,347,350,352,354,356,358,362,364,365,366,373,375,377,383,393,398,400,402,404,407,410,411,412,416,417,418,424,437,439,440,444,446,447,449,451,456,460,464,468,469,471,472,477,480,482,486,487,491,494,500,501,502,504,506,515,522,526,527,529,535,536,537,541,542,543,545,548,550,552,555,557,564,566,567,569,573,574,577,578,583,586,588,589,594,598,599,601,602,603,604,611,612,613,619,622,624,625,627,629,635,637,642,644,646,647,653,657,660,665,668,672,674,675,678,679,681,682,684,685,689,691,693,694,695,698,701,709,712,713,715,716,717,719,720,723,724,725,727,728,731,737,739,741,744,745,746,750,751,758,760,761,763,764,766,770,774,775,777,783,784,786,788,792,802,804,809,812,815,817,818,820,827,829,834,837,838,840,847,854,855,856,860,862,865,867,868,876,879,880,882,885,886,888,890,894,896 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,7,8,10,12,13,18,19,21,24,27,30,31,32,34,35,38,40,41,42,43,47,51,53,56,57,58,60,63,64,67,73,76,79,81,82,88,90,92,93,96,99,102,105,110,112,117,118,119,121,124,125,129,134,136,139,144,145,146,148,149,152,156,158,160,161,164,167,169,170,171,174,177,178,180,182,189,192,193,196,202,203,205,207,211,212,214,216,218,219,221,223,226,228,232,234,236,237,240,245,246,252,255,256,258,260,264,266,267,270,272,275,278,279,280,284,285,286,288,291,292,293,295,297,299,309,311,313,318,320,322,324,326,327,329,330,332,336,338,341,346,347,352,357,359,363,365,369,370,372,374,375,376,378,381,382,387,389,390,391,400,401,408,414,416,420,424,428,430,433,438,442,444,446,448,454,455,456,458,459,460,463,471,472,475,480,486,487,490,494,498,499,501,503,506,507,510,517,519,520,522,524,528,531,535,538,539,541,544,546,548,551,553,556,562,564,565,567,568,570,572,574,577,580,582,586,587,588,593,596,598,602,609,610,612,614,615,617,621,623,624,626,627,635,636,638,640,645,654,663,664,670,672,683,685,686,687,691,693,695,698,699,701,703,707,710,711,713,716,717,720,722,723,735,739,741,742,744,747,751,753,758,760,765,766,769,770,771,780,782,787,788,790,791,794,796,797,798,803,806,808,814,817,820,821,823,825,831,833,834,840,842,844,845,847,849,850,852,853,857,859,860,861,863,868,871,873,875,879,884,887,895,896,898,899,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 8,10,13,16,17,18,22,23,25,27,28,30,31,34,36,37,40,41,45,46,51,54,60,63,66,68,70,72,74,76,78,81,82,84,86,87,88,90,91,100,101,103,107,108,111,119,120,122,124,127,128,130,132,133,142,143,146,147,151,154,155,160,162,163,165,166,168,172,175,177,180,190,195,197,199,201,202,205,206,209,210,211,213,216,220,222,227,229,230,235,236,238,239,244,245,247,249,250,253,256,260,261,263,264,265,271,275,277,279,280,283,284,286,288,290,293,294,295,308,312,317,319,321,323,324,325,331,333,336,344,346,349,350,352,354,358,360,365,366,372,375,378,379,380,382,384,385,392,393,400,402,404,408,410,412,416,417,418,419,421,422,423,424,426,427,428,430,432,434,436,437,438,442,443,446,448,450,455,461,463,465,467,473,475,477,478,481,486,490,492,494,499,505,507,510,511,513,516,518,519,521,524,526,531,533,534,536,538,540,541,543,550,555,556,558,567,571,574,576,579,581,582,587,588,590,591,595,600,603,604,605,608,610,611,612,617,618,619,622,623,630,632,633,634,639,643,646,648,650,651,653,658,660,664,667,672,674,677,681,683,688,690,691,692,694,695,701,704,708,709,711,714,715,717,718,719,722,723,724,726,727,729,731,734,735,736,739,744,747,749,750,754,755,759,761,766,771,772,777,781,782,786,787,789,790,791,795,797,801,802,805,809,810,811,821,828,832,834,838,840,842,843,848,851,855,856,859,860,861,863,865,867,869,871,873,875,877,881,883,886,888,889,895,896,899,900 --> row.names NOT used”Warning message in eval(xpr, envir = envir):
“model fit failed for Fold01: vars=35 Error in fitter(btSamples[[iter]], x = x, y = y, ctrl = bagControl, v = vars,  :
  task 1 failed - "could not find function "lev""
”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 2,9,12,13,15,16,18,19,21,26,28,33,35,41,43,47,51,53,56,58,60,65,66,68,71,72,77,79,80,82,83,86,89,94,95,98,104,107,108,109,112,114,119,124,126,129,130,132,134,136,137,138,141,142,143,145,146,148,152,154,155,157,160,164,165,170,171,173,175,178,179,181,184,186,187,190,192,196,197,198,202,208,210,212,214,216,217,218,220,222,224,226,230,233,235,237,241,243,245,247,248,249,250,253,255,256,259,262,268,269,271,275,276,277,279,282,283,287,289,292,294,296,297,298,303,304,309,312,313,317,318,319,324,331,337,344,347,352,355,358,360,362,366,370,372,373,376,380,381,385,389,397,399,400,404,406,408,413,414,417,421,431,432,433,437,443,445,448,451,452,461,462,464,465,467,469,472,473,476,481,485,488,491,492,494,502,505,506,508,509,510,514,515,516,520,522,523,529,530,531,533,535,542,544,548,549,551,552,561,562,570,577,578,580,581,585,587,589,591,592,593,595,596,599,601,608,610,613,616,618,622,624,625,626,630,632,635,637,640,641,646,648,649,651,653,656,658,659,663,665,667,668,672,675,677,678,680,686,688,691,692,695,697,700,702,706,708,710,711,713,715,718,720,722,725,727,732,736,738,740,743,744,745,747,750,757,758,762,763,764,766,767,768,769,771,773,777,782,783,787,789,790,798,799,803,807,810,811,814,817,824,826,829,832,835,838,840,844,849,855,857,860,862,867,869,874,875,877,880,881,882,883,885,890,891,894,895,896,898,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,3,6,7,11,13,15,18,25,27,36,42,45,47,48,51,53,57,61,63,64,65,66,69,71,75,77,79,80,86,95,102,106,107,108,110,111,112,114,117,119,123,129,130,136,141,143,144,148,153,154,156,163,166,172,173,174,176,186,187,189,190,193,194,198,199,202,206,209,211,212,214,216,219,220,224,227,228,229,230,232,236,242,246,249,258,266,268,269,271,276,278,280,281,283,284,286,287,292,293,295,297,310,311,312,314,316,318,322,324,327,329,333,337,338,345,347,350,351,352,353,356,357,360,361,366,367,368,373,376,377,378,386,387,390,393,394,396,397,401,403,407,408,413,422,423,432,434,437,439,440,442,444,445,449,450,454,457,459,460,466,467,469,471,476,481,482,483,486,488,491,492,493,500,502,504,506,509,511,512,514,515,519,520,524,526,529,533,541,546,548,550,560,566,568,572,574,576,582,585,587,588,591,592,593,594,596,597,599,601,603,605,606,608,613,616,617,622,624,627,629,631,632,636,638,639,641,646,650,651,653,659,660,664,665,666,667,669,670,672,675,679,680,682,687,688,693,694,695,698,699,700,704,714,718,724,726,728,729,734,735,738,744,745,746,749,750,752,756,757,759,762,764,767,770,772,775,776,779,782,786,788,789,790,791,795,796,799,802,805,808,812,815,817,818,819,824,826,829,834,835,837,841,843,846,847,849,855,859,860,861,864,869,872,873,875,876,877,882,886,887,890,893,896,897 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 4,5,6,8,12,18,21,23,27,29,33,34,38,40,42,44,45,46,54,56,59,60,63,64,65,73,74,76,82,84,87,90,92,93,94,95,104,110,116,117,122,124,125,129,131,132,136,138,141,144,145,148,151,154,156,158,159,160,161,165,166,167,171,172,174,178,182,183,189,191,193,195,201,203,206,210,215,220,221,222,224,225,232,233,237,240,242,243,246,247,249,251,254,259,262,263,266,270,272,277,278,280,283,285,286,291,294,296,298,300,302,309,312,315,318,320,322,323,325,326,328,330,331,333,336,339,341,342,343,345,349,354,355,363,366,367,369,371,375,379,380,383,386,389,391,392,396,397,398,400,406,408,411,414,415,416,418,419,421,425,426,427,429,430,434,435,436,438,439,441,447,449,452,463,466,470,474,475,478,480,481,483,486,487,490,491,493,494,496,497,502,506,507,509,511,516,519,521,524,525,527,529,530,532,536,540,543,548,549,555,556,557,560,564,565,570,571,574,575,577,579,580,581,585,586,588,589,596,601,602,605,607,608,614,615,618,620,628,634,635,636,639,641,645,646,648,652,654,658,662,664,666,669,671,672,674,677,688,691,696,697,698,701,705,709,710,712,715,719,720,725,726,735,737,741,743,745,748,750,753,755,756,761,765,766,768,770,771,778,780,783,784,802,803,812,813,815,816,819,825,827,829,833,834,842,844,845,846,851,852,855,858,860,862,867,869,870,871,874,876,878,880,881,882,886,887,890,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,6,8,9,11,18,21,22,28,31,33,35,38,48,50,51,55,60,63,64,67,69,71,75,79,80,83,84,85,89,91,93,98,100,104,109,110,111,115,117,120,124,127,128,132,136,144,145,146,156,158,159,161,163,165,167,170,171,181,182,183,185,193,194,195,196,198,200,202,203,207,208,215,216,219,225,228,229,231,237,238,243,247,248,252,253,256,257,259,263,265,266,267,268,271,273,283,286,296,299,301,304,305,310,313,314,318,326,330,333,339,340,344,346,347,351,354,355,356,358,360,361,362,363,365,366,373,374,376,377,378,382,384,386,388,393,394,408,410,412,414,415,416,419,421,422,424,426,429,435,438,440,445,449,452,454,458,460,462,464,467,468,469,472,474,475,479,480,482,485,486,490,491,493,494,496,499,500,503,505,507,511,512,515,519,522,525,529,532,534,536,538,540,541,543,553,557,558,559,561,566,567,571,573,577,578,580,582,584,587,594,597,598,599,602,603,605,606,607,608,610,612,614,615,617,618,619,625,629,631,632,635,638,639,641,643,645,648,650,652,655,658,660,661,666,670,672,674,675,676,679,681,682,683,684,688,690,691,695,696,697,704,706,710,712,713,717,721,723,725,729,730,732,734,735,739,741,744,747,748,757,761,763,767,771,777,783,785,787,790,794,797,801,804,805,807,811,812,813,815,818,820,822,824,829,834,837,838,839,842,845,848,851,853,855,858,861,862,863,870,871,872,873,877,878,880,881,882,889,891,893,895,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 5,10,12,14,18,19,21,24,25,27,29,32,33,41,43,47,48,51,52,54,56,58,60,62,63,64,67,68,73,80,85,86,92,95,98,100,102,103,107,109,110,111,113,115,117,121,122,127,129,131,136,140,145,147,148,151,154,158,161,166,175,176,177,178,182,184,189,191,196,199,200,206,207,210,213,215,216,220,225,229,235,241,242,245,250,254,255,256,259,262,264,269,271,275,277,279,281,285,286,288,290,291,295,296,298,300,303,305,306,310,315,317,319,321,323,325,327,329,330,332,334,336,338,339,340,341,343,344,345,348,352,353,357,358,362,364,365,367,368,372,373,377,379,383,384,387,397,400,402,403,405,407,409,411,412,415,418,419,421,425,426,428,429,431,432,434,438,440,445,446,447,449,450,453,457,459,460,461,469,471,474,475,477,480,481,487,491,495,498,499,501,502,505,510,512,514,517,523,525,529,531,532,534,539,541,543,545,548,551,553,557,558,562,566,572,575,577,578,581,583,586,587,589,590,597,599,601,604,606,608,609,610,612,613,615,619,620,624,625,627,629,632,634,639,641,642,647,650,651,655,656,660,669,672,673,679,681,683,685,686,691,692,697,698,702,703,705,715,716,718,723,724,727,728,729,730,732,737,740,741,743,744,746,748,749,750,751,754,763,764,766,768,772,773,776,777,778,780,786,787,788,793,795,797,798,799,803,807,809,810,812,815,817,819,823,826,827,828,829,831,834,838,840,841,843,844,854,856,859,863,864,868,873,875,877,879,883,886,892,894,896,897 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 2,3,8,10,12,14,15,16,19,20,22,23,25,27,32,33,37,38,40,41,42,43,45,49,51,52,53,56,59,64,66,69,74,76,78,82,86,87,88,90,91,93,95,97,99,104,113,119,121,123,124,129,135,138,139,141,143,147,149,152,154,155,160,162,164,166,168,169,173,174,175,177,180,181,189,190,192,193,195,197,200,205,207,210,214,217,218,221,224,225,231,236,238,241,242,243,246,250,251,253,258,260,262,265,266,267,270,273,275,277,279,280,281,282,283,289,291,293,295,297,298,301,302,304,305,306,310,312,313,319,322,326,330,332,334,336,339,340,341,343,345,346,348,349,351,354,358,361,362,363,365,366,368,370,375,377,380,383,385,392,393,396,398,399,400,402,403,404,407,411,413,415,417,423,424,427,430,433,435,438,441,442,446,447,453,458,463,464,467,471,473,478,481,486,489,493,494,499,501,502,511,513,515,518,520,521,524,530,535,539,548,549,550,554,558,560,561,564,565,567,572,573,575,578,584,587,592,594,595,596,599,601,602,603,609,620,621,623,624,628,629,634,636,637,639,641,642,644,645,650,652,654,658,662,666,668,670,673,674,678,679,681,683,689,691,692,693,695,696,698,705,709,714,715,717,720,723,726,729,731,734,737,742,746,752,754,762,764,767,769,776,777,785,786,791,796,797,801,803,805,808,809,813,816,819,827,830,831,832,834,835,839,844,846,853,854,858,860,865,866,867,870,874,875,877,879,883,884,886,888,890,891,893,895,897,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,7,8,10,15,16,17,19,20,23,25,26,32,34,35,39,44,46,48,50,52,58,61,69,70,73,76,80,83,84,87,90,100,106,108,110,114,119,125,129,130,134,139,141,143,149,150,152,153,156,162,163,165,166,168,173,174,180,181,184,185,186,188,191,193,198,201,203,205,207,211,214,216,217,220,225,231,232,239,241,244,245,246,250,251,252,254,257,259,262,266,269,274,279,281,285,287,289,297,298,301,305,307,308,311,314,316,322,323,324,327,329,330,333,334,336,341,342,347,350,357,358,359,362,364,367,369,373,380,385,387,389,390,392,395,397,398,401,404,410,412,414,415,416,418,421,422,425,427,431,433,434,437,446,448,449,451,453,459,462,469,470,473,476,479,484,486,487,489,490,491,496,497,502,505,510,518,519,522,524,527,528,530,532,533,534,535,538,539,543,545,547,551,555,557,560,561,563,567,569,573,576,578,580,581,582,587,588,589,592,595,600,601,603,606,607,609,611,613,615,617,619,620,624,625,627,628,629,633,634,638,640,644,649,650,656,660,661,663,665,667,668,671,673,676,680,683,685,687,688,691,694,698,705,708,711,715,717,718,720,724,726,728,730,731,733,734,735,737,740,742,744,746,748,753,755,762,764,765,768,773,774,775,778,780,781,782,784,789,791,794,798,800,803,807,808,809,814,815,817,819,825,831,836,838,846,849,853,856,860,864,866,869,871,873,874,876,877,879,883,884,885,887,888,891,892,895,899,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 5,15,17,20,23,25,27,28,30,34,40,41,42,44,48,53,54,55,62,66,80,81,86,88,89,93,97,99,101,108,109,112,114,116,117,119,121,123,124,126,128,131,132,134,135,139,140,144,146,148,151,154,156,162,165,166,168,169,171,173,175,177,179,184,185,187,188,190,193,196,197,207,210,213,214,219,223,226,228,234,235,241,247,248,255,257,258,261,264,266,268,275,278,282,283,285,286,289,291,293,294,296,299,300,302,309,312,315,322,323,325,328,329,332,339,344,345,350,351,354,356,360,361,362,366,372,377,380,381,382,383,385,389,392,395,398,401,404,405,406,408,410,411,419,421,425,429,431,437,441,442,443,444,448,450,451,453,455,457,459,462,464,466,474,475,477,479,480,484,490,498,501,503,505,507,512,517,519,524,525,527,529,531,534,535,536,537,539,542,546,549,551,553,554,557,559,561,563,567,569,575,576,580,582,584,586,589,592,595,599,602,604,605,612,614,619,620,622,623,628,629,632,634,636,645,647,652,656,657,659,660,661,662,664,668,672,675,679,680,681,682,683,686,688,690,691,693,694,696,697,698,700,701,703,704,707,709,713,714,717,718,719,722,724,726,727,730,734,737,740,741,746,747,753,757,760,764,768,770,776,780,781,783,784,794,796,798,799,801,802,804,805,807,808,809,816,819,824,826,828,831,834,843,846,850,851,854,855,857,860,861,863,865,867,870,872,874,876,878,881,884,885,888,889,891,892,896,897,898 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,4,5,8,9,10,11,13,15,17,18,20,36,38,39,41,45,47,49,50,51,53,58,60,67,69,70,72,75,80,83,84,86,88,90,91,99,100,102,104,107,110,112,113,115,116,117,119,122,124,126,127,128,131,132,135,142,143,145,149,151,154,160,163,165,166,170,171,172,174,182,185,187,193,198,204,208,210,212,215,217,221,223,225,227,233,237,240,243,245,249,250,252,254,257,259,261,264,266,267,271,272,278,281,283,284,285,287,288,293,298,299,304,305,308,311,312,314,316,317,320,324,325,328,337,348,354,357,358,359,365,368,371,375,376,378,380,381,384,386,392,397,399,401,403,404,406,408,413,415,416,418,422,426,428,429,433,435,436,437,439,440,441,443,449,453,454,457,460,461,463,468,469,471,472,475,478,482,486,488,489,492,495,496,498,499,500,501,502,505,509,510,514,515,518,520,521,523,535,536,537,540,541,544,545,548,549,553,556,558,561,564,565,567,570,573,574,576,577,580,582,583,586,593,594,596,599,601,602,606,608,611,615,617,623,626,629,635,640,642,646,653,655,659,663,664,668,674,676,680,681,683,685,687,689,691,693,695,706,707,708,709,712,714,723,724,731,734,735,737,748,751,752,754,758,760,761,764,766,767,771,772,777,779,784,786,787,788,790,795,797,798,802,806,808,812,813,814,816,817,818,822,823,826,829,832,834,835,838,839,841,843,845,850,857,866,871,873,875,876,881,883,885,886,888,892,895,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,3,5,12,14,19,23,24,26,34,36,38,40,42,43,45,47,48,55,57,58,60,63,65,70,74,76,78,83,85,88,91,93,95,100,102,103,106,108,109,111,114,117,119,120,122,124,125,126,127,130,133,136,138,143,147,150,152,154,156,160,164,168,169,171,173,176,178,180,182,184,185,187,188,191,192,193,199,204,206,207,211,214,215,218,220,225,228,231,232,233,235,239,240,243,245,246,248,251,254,262,266,269,272,274,275,281,282,285,286,290,291,296,298,300,301,312,314,319,324,326,327,329,331,335,337,339,343,345,355,356,358,360,363,365,367,368,375,376,380,383,385,388,389,393,394,397,399,400,403,408,409,410,413,414,416,418,421,428,429,431,433,434,437,438,441,446,449,454,455,457,458,460,462,469,471,472,474,475,478,479,483,484,488,496,499,502,507,515,518,520,523,524,525,528,530,538,541,542,543,544,545,547,551,560,561,565,566,570,571,573,584,585,586,589,590,591,592,593,598,600,602,604,605,607,611,612,615,616,619,620,621,630,633,634,640,644,648,652,657,658,661,662,671,677,679,681,687,689,691,694,698,702,706,711,714,719,723,725,727,731,735,737,739,742,743,745,748,752,754,758,759,763,766,771,773,774,779,782,784,785,787,789,791,796,797,799,801,804,808,811,813,815,816,817,820,823,825,826,828,830,831,834,835,837,838,839,840,841,846,849,851,852,856,860,861,862,865,871,872,874,875,882,884,886,888,889,890,894,897 --> row.names NOT used”Warning message in eval(xpr, envir = envir):
“model fit failed for Fold02: vars=35 Error in fitter(btSamples[[iter]], x = x, y = y, ctrl = bagControl, v = vars,  :
  task 1 failed - "could not find function "lev""
”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 2,4,5,20,21,23,32,33,38,40,41,43,44,48,51,53,55,57,61,65,67,68,72,74,76,77,79,80,82,86,89,91,92,94,105,110,115,119,120,122,125,129,132,135,137,138,143,145,147,152,154,156,159,161,163,166,167,168,171,172,173,174,177,178,179,181,184,192,194,197,202,203,205,213,214,216,218,223,227,228,232,236,238,240,243,244,246,248,256,257,260,261,264,266,267,269,273,274,276,278,282,284,285,288,296,297,298,299,301,302,303,305,306,314,319,320,325,326,330,331,337,338,340,343,350,351,353,360,361,362,364,370,371,373,375,377,379,380,385,387,390,391,392,394,398,400,402,403,404,408,409,411,421,422,425,428,431,433,435,437,438,440,442,445,453,457,458,459,461,462,466,471,476,479,480,487,488,492,493,495,496,497,500,501,508,510,513,516,520,522,524,525,528,536,538,539,543,545,547,548,557,558,560,561,563,566,567,569,571,574,575,577,580,586,590,593,596,601,602,603,605,608,609,611,613,616,620,621,625,626,627,630,631,638,639,641,642,645,646,649,650,654,655,657,660,663,665,668,672,678,681,683,685,686,689,690,692,695,699,703,708,713,716,721,723,724,727,728,733,734,736,737,742,743,745,750,752,754,756,759,762,763,764,766,769,771,777,783,784,785,788,790,793,795,796,799,801,802,803,812,816,818,821,825,827,830,831,835,836,841,846,855,856,858,859,861,869,870,874,875,877,878,880,881,883,886,889,890,891,894,895,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,5,8,9,12,18,29,30,33,38,40,44,45,47,48,50,52,53,54,60,62,64,67,68,70,72,74,84,86,88,91,93,94,96,99,100,105,107,109,112,113,117,118,122,123,125,133,134,137,138,139,140,144,147,148,150,152,156,158,162,164,166,168,172,175,177,180,182,184,188,191,194,197,198,201,205,207,210,212,220,222,227,230,231,232,238,239,240,241,245,246,247,249,252,257,259,262,263,264,265,267,273,277,284,287,291,292,295,298,300,303,307,308,309,311,312,314,323,326,328,335,338,349,350,353,365,366,370,372,375,379,383,387,388,392,393,397,403,410,412,413,415,417,418,419,420,421,423,424,426,427,429,431,432,434,436,441,446,449,454,455,456,458,459,466,468,473,477,478,480,482,485,487,489,490,492,494,496,498,501,503,504,508,511,514,518,522,525,526,528,531,536,539,543,555,558,561,564,566,568,569,570,572,576,581,582,583,585,587,591,597,598,600,601,604,605,606,608,611,613,615,618,622,625,627,629,632,634,638,641,642,643,644,646,649,652,655,657,662,664,665,668,669,670,673,675,681,684,690,692,695,697,699,702,704,706,708,713,716,718,720,721,723,725,727,729,732,737,739,743,744,748,749,752,753,756,758,759,763,764,765,767,768,772,773,781,783,784,788,790,793,794,798,800,801,809,811,812,813,815,817,819,821,823,826,827,829,832,833,847,850,851,853,857,858,860,862,864,866,874,879,882,885,886,893,897,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 10,14,16,21,26,28,31,34,38,39,40,42,43,46,47,50,51,52,53,59,60,62,63,65,66,68,70,72,78,79,82,85,86,93,97,100,101,103,104,107,114,116,117,118,121,123,125,131,132,137,139,140,142,145,150,152,153,154,157,160,161,166,167,169,170,172,176,180,182,186,188,189,193,194,195,197,198,201,202,204,211,214,216,219,224,226,227,230,234,236,238,242,244,245,247,248,252,253,254,259,266,268,271,277,278,279,282,286,287,289,293,294,296,298,302,306,309,311,314,316,317,318,319,323,326,328,330,332,333,335,342,344,346,347,349,356,359,360,363,365,369,374,376,377,379,381,382,386,388,391,393,395,397,404,409,411,413,415,421,424,426,427,429,431,434,439,440,442,443,446,448,450,452,454,455,457,461,466,468,470,471,474,479,485,487,491,492,498,501,502,504,505,506,507,510,513,514,518,519,520,523,525,526,527,530,534,538,539,541,542,544,545,551,552,554,555,556,559,560,561,565,566,574,575,578,580,582,585,586,589,593,595,596,598,600,605,606,608,610,612,613,616,618,619,620,622,626,636,638,643,644,645,646,653,654,655,659,664,665,669,671,672,674,677,679,680,685,686,690,693,694,697,699,700,703,706,709,714,717,719,720,722,724,727,728,731,733,736,737,738,743,747,748,753,758,760,767,768,776,778,779,781,782,783,785,789,790,795,802,803,804,808,810,814,818,819,821,827,830,832,834,842,843,849,850,851,858,863,867,868,873,876,877,880,883,888,890,892,895,898 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,5,6,8,9,12,17,26,29,31,34,38,39,41,46,48,52,53,55,56,58,61,62,65,67,68,73,74,77,79,81,83,84,86,90,93,97,100,102,104,105,109,110,116,117,118,120,121,123,124,126,128,132,133,134,136,139,142,151,154,157,159,160,161,162,164,166,168,171,173,175,177,179,182,185,189,190,192,199,203,204,205,206,209,215,217,219,220,223,224,227,228,229,234,236,237,239,240,243,244,245,247,259,260,262,263,265,267,270,276,282,288,296,298,300,302,303,309,312,314,316,322,323,324,326,328,332,333,335,338,340,341,343,349,351,354,360,364,368,372,373,375,385,386,388,390,394,396,397,401,403,407,409,411,417,420,423,424,428,436,438,439,442,444,445,446,450,451,453,456,459,460,462,464,467,468,473,476,478,479,480,483,485,486,487,489,493,498,500,505,506,508,509,511,517,520,522,525,530,532,535,539,540,541,549,551,553,555,557,566,568,569,570,575,577,581,582,584,588,589,595,596,597,598,602,603,606,607,610,611,613,615,616,621,622,624,626,627,628,633,637,643,646,647,649,651,653,655,657,659,665,667,671,672,677,679,681,686,689,693,695,697,699,703,708,714,718,719,723,724,726,729,730,731,733,737,739,740,742,743,745,748,749,751,755,756,758,759,762,763,764,766,767,772,773,776,778,780,783,789,792,793,801,803,805,806,808,811,813,814,816,821,823,830,834,836,837,840,841,845,848,850,853,857,860,861,867,869,871,872,875,879,882,885,887,889,891,894,897,898,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,8,9,10,14,18,20,23,28,29,36,39,44,51,52,63,65,66,68,70,75,78,80,85,90,93,94,104,105,107,110,115,117,119,121,122,126,137,138,139,141,143,145,147,148,151,154,161,162,165,168,170,171,172,174,176,178,179,189,190,192,194,196,198,201,203,204,207,210,211,216,217,218,220,223,225,227,228,229,232,235,237,240,243,245,248,251,253,257,258,260,264,266,269,271,272,273,276,277,278,279,281,284,285,287,288,289,290,293,294,295,300,302,308,312,317,319,323,324,327,330,333,335,337,339,340,343,344,345,348,351,354,356,359,361,362,365,367,368,369,371,372,376,378,379,382,384,388,391,393,395,404,409,410,411,413,416,417,420,421,423,424,425,429,431,433,435,437,438,441,444,448,453,455,456,464,465,466,469,472,474,475,478,479,481,485,489,495,504,507,511,517,518,521,526,532,534,538,539,541,547,548,549,550,554,556,561,563,566,568,570,572,579,580,583,584,586,588,590,593,594,595,597,598,601,602,604,608,612,614,622,625,626,628,631,632,636,637,638,640,645,652,653,654,655,657,659,663,670,673,676,677,681,685,689,693,694,699,702,703,709,711,718,719,720,722,723,725,726,728,731,732,733,737,740,744,746,747,749,752,757,758,769,774,775,777,781,788,791,794,798,801,802,803,806,810,811,814,815,818,821,823,826,831,833,836,837,840,841,843,845,847,849,851,853,857,860,869,872,873,875,878,882,883,886,894,897,898 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 3,4,7,11,12,14,22,24,26,27,29,32,36,37,39,41,42,46,48,49,53,62,64,65,67,69,70,72,74,79,81,82,83,87,91,95,97,101,103,109,110,111,113,115,116,119,121,123,124,127,129,132,134,137,139,140,144,147,148,150,157,161,163,165,167,168,169,171,172,173,176,178,181,182,185,186,189,190,193,194,196,201,203,204,206,207,214,220,222,230,231,234,236,237,239,243,245,247,249,263,265,266,267,274,277,283,287,289,293,294,302,304,306,307,309,310,312,313,314,317,318,319,322,324,325,327,330,337,341,346,353,357,358,362,364,372,377,380,381,383,387,391,394,397,401,404,409,410,413,415,416,423,424,425,427,428,430,437,438,441,442,447,449,453,454,459,460,463,464,466,469,471,472,474,479,481,483,488,493,495,496,499,502,505,506,510,511,515,520,522,523,524,526,529,530,535,537,545,546,548,552,559,562,564,566,568,570,572,573,575,579,582,583,588,591,593,597,598,600,601,605,606,615,623,628,631,633,635,637,641,642,644,649,651,654,655,657,658,659,663,664,665,666,668,673,675,680,683,687,690,692,694,696,701,703,705,706,708,713,715,721,722,723,725,726,728,730,734,738,741,742,743,745,746,750,754,757,760,764,766,768,772,773,775,777,779,780,785,786,789,790,797,798,799,802,807,811,815,816,818,820,822,823,825,826,832,833,835,837,842,845,849,852,858,860,864,866,869,871,873,874,876,883,887,888,889,891,892,893,897,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 4,8,9,12,17,19,20,24,28,32,34,39,40,46,49,60,61,63,67,70,72,73,77,78,79,82,86,89,90,92,94,96,98,100,102,103,105,107,112,115,116,117,121,122,125,126,130,136,139,140,147,148,154,155,157,158,161,162,164,165,169,173,178,184,186,187,190,193,195,196,197,199,201,203,204,206,209,210,212,214,216,219,221,222,225,226,228,229,230,233,237,241,243,245,249,251,252,256,257,259,264,268,269,271,273,280,282,284,288,292,295,296,298,300,302,305,308,309,310,317,319,324,327,329,330,331,333,335,336,340,345,347,349,353,355,363,365,367,368,370,371,372,375,376,380,382,386,388,390,392,394,398,404,408,410,421,425,428,433,435,436,439,442,446,447,452,453,455,457,458,462,468,471,472,477,478,480,481,484,486,489,490,493,495,496,497,502,506,509,511,514,515,521,522,527,535,539,541,547,548,549,552,553,555,559,564,565,568,569,571,574,576,578,581,583,585,592,599,602,604,608,609,610,611,615,620,622,624,625,627,629,631,638,644,648,651,653,655,657,660,662,665,671,675,677,678,679,681,682,686,690,692,693,698,699,702,703,705,706,709,710,713,714,716,719,721,724,726,729,731,732,735,737,739,751,752,753,757,758,760,764,766,767,770,771,772,775,778,780,784,785,787,790,793,794,799,801,804,806,812,814,819,821,822,824,825,830,832,838,840,844,846,847,854,856,858,860,862,865,875,876,879,881,884,887,890,892,894,897,899,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,5,10,11,15,18,20,24,28,32,38,50,54,55,56,60,61,63,65,66,68,72,75,78,88,89,90,96,98,101,102,103,106,108,109,116,119,124,127,130,139,141,142,152,153,155,158,164,165,169,171,174,176,177,180,181,185,187,188,189,191,192,195,200,201,203,207,208,209,213,222,223,224,226,229,230,232,235,238,239,242,243,245,246,249,253,257,259,262,264,265,266,270,272,274,276,278,281,283,286,288,289,291,293,294,295,297,299,303,304,308,317,318,319,320,321,323,326,327,330,334,337,340,346,354,357,359,368,369,376,380,385,389,391,393,394,397,399,401,404,406,411,417,419,421,426,433,435,441,447,450,452,453,460,464,466,468,472,473,476,477,481,483,486,487,490,491,498,500,502,503,510,511,517,518,521,526,530,536,538,539,545,548,550,553,555,559,562,566,567,570,573,574,581,583,585,588,589,593,598,600,602,603,604,608,610,611,619,620,622,624,626,637,641,644,646,649,654,655,657,659,662,664,666,667,670,672,676,677,679,682,684,686,687,688,690,691,697,702,704,705,706,707,710,713,715,717,721,723,726,727,729,734,736,741,743,744,745,747,750,752,753,756,757,759,760,762,763,767,769,770,773,776,782,783,785,788,793,795,796,800,801,803,806,807,809,810,811,815,818,819,820,821,824,828,830,833,834,835,837,838,841,845,847,850,852,854,856,857,858,860,864,869,870,873,875,876,878,880,882,884,885,886,887,893,895,898 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 4,6,7,8,10,11,12,16,17,21,27,32,34,36,37,38,41,44,45,50,54,55,57,58,63,64,67,71,72,76,77,82,84,86,90,96,101,103,104,110,111,113,114,115,120,124,125,127,128,131,142,143,145,147,149,150,151,161,166,174,177,179,181,184,188,193,195,197,201,202,204,208,209,217,222,225,226,228,232,235,236,238,242,243,245,249,254,257,258,259,261,263,264,265,268,270,273,277,279,281,282,285,289,290,291,295,296,298,303,305,306,307,311,312,315,328,330,334,338,345,351,352,354,355,356,357,363,367,370,371,376,378,381,383,384,386,388,391,393,396,398,399,400,401,402,405,406,409,414,416,418,422,423,424,425,427,428,433,438,440,443,448,449,451,454,457,459,463,464,465,470,474,475,477,478,484,488,495,496,499,501,504,509,511,512,516,518,520,522,526,528,529,533,534,537,540,541,544,546,549,551,553,555,557,558,560,562,566,571,573,578,581,588,589,591,595,607,608,613,615,616,617,625,633,636,643,647,649,650,655,657,659,661,662,664,665,668,670,674,678,679,680,682,688,689,693,694,696,705,706,710,713,714,715,716,719,723,729,733,737,742,747,748,750,753,755,758,760,765,768,770,774,775,776,780,784,787,789,791,792,793,794,795,798,800,801,803,805,812,813,815,817,818,829,831,833,840,844,848,852,854,857,863,864,868,870,872,873,875,877,879,882,883,885,888,890,891,895,898,899,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,3,5,7,12,15,16,17,19,26,28,30,32,34,36,38,45,46,49,50,53,58,60,62,66,71,73,76,78,94,99,107,109,114,115,121,122,124,126,128,129,133,136,137,139,140,143,147,148,149,153,155,157,158,159,160,163,167,168,170,173,174,177,181,182,185,187,188,189,195,196,199,200,201,205,206,209,213,216,224,228,230,231,232,233,235,237,239,244,245,247,254,255,262,264,265,268,271,272,276,278,280,281,282,285,287,288,293,295,297,301,304,306,309,310,313,317,318,325,329,330,333,336,337,339,341,343,345,348,351,352,360,362,365,369,370,372,373,379,381,386,388,389,391,393,395,399,401,404,405,409,413,414,415,417,420,426,427,429,432,434,435,436,438,441,443,447,449,452,454,456,457,459,460,461,464,467,470,473,475,478,479,481,482,485,486,488,489,490,492,494,496,501,502,504,505,507,509,511,512,515,520,521,526,530,533,536,537,542,544,545,552,554,557,561,563,565,572,574,584,586,588,591,594,597,600,603,605,607,608,610,613,614,622,625,629,631,632,635,637,640,641,642,647,649,651,654,657,671,676,677,680,682,683,685,686,691,693,695,698,701,704,706,707,709,712,714,715,720,722,737,738,740,741,745,746,750,754,759,761,762,763,771,775,776,778,781,782,784,786,790,797,799,801,808,810,811,819,822,823,824,827,829,831,834,836,837,838,840,841,843,844,849,850,852,856,858,859,862,864,872,873,874,881,882,886,887,889,891,893,894,896 --> row.names NOT used”Warning message in eval(xpr, envir = envir):
“model fit failed for Fold03: vars=35 Error in fitter(btSamples[[iter]], x = x, y = y, ctrl = bagControl, v = vars,  :
  task 1 failed - "could not find function "lev""
”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 6,8,14,16,20,22,23,31,33,38,44,46,47,49,50,52,54,57,59,63,64,67,68,69,71,73,74,76,79,81,82,85,97,99,102,103,109,115,119,123,127,130,133,137,138,140,141,145,147,148,149,151,152,156,158,160,163,165,169,173,175,177,183,184,186,187,189,194,195,197,200,201,205,208,209,212,213,217,218,221,223,225,230,237,239,244,245,248,249,251,253,259,261,262,264,265,268,269,270,274,279,283,284,286,287,292,295,302,304,307,310,312,316,320,322,326,328,331,338,340,349,351,355,362,363,365,368,373,374,378,382,383,384,387,388,389,392,393,397,398,399,401,405,406,409,410,412,413,415,417,420,425,431,433,434,439,440,443,446,452,454,456,460,461,466,468,472,482,483,487,488,490,494,496,499,502,505,507,511,512,515,518,520,522,523,525,528,532,535,536,538,540,542,543,545,548,549,553,560,567,569,570,574,581,582,590,593,600,601,603,607,612,614,620,624,628,631,633,635,638,644,649,650,651,654,658,659,661,662,663,667,669,670,674,678,682,686,690,693,695,699,704,705,706,709,710,713,716,720,721,723,725,726,728,729,730,731,732,735,738,739,742,744,746,751,753,755,756,762,763,764,766,770,771,773,774,779,781,782,784,786,788,790,795,797,802,804,806,807,808,810,812,819,820,822,823,828,834,835,836,837,841,848,852,855,857,859,860,861,864,866,869,870,871,874,877,884,887,889,891 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,4,6,7,12,13,16,18,24,29,32,34,35,37,38,39,41,42,53,62,66,68,70,71,73,75,77,79,81,87,93,95,96,102,112,113,116,117,118,120,123,124,126,129,133,134,136,145,148,150,151,153,154,158,160,167,171,173,174,176,180,183,184,186,187,189,190,193,194,197,200,203,207,214,216,221,223,225,226,228,229,230,233,234,236,237,239,240,242,245,250,254,259,262,266,272,273,274,275,277,282,287,289,292,295,298,303,306,308,309,310,313,317,319,322,326,330,333,336,337,338,339,340,343,345,346,349,352,354,355,356,358,362,369,370,371,378,380,382,386,395,398,402,406,407,408,411,415,417,419,420,422,426,427,428,430,432,433,439,440,442,443,450,453,454,457,458,462,463,466,467,468,470,473,478,482,486,489,491,493,494,498,503,505,506,509,510,512,514,516,517,520,522,523,525,526,530,531,532,537,544,547,549,551,553,554,557,558,563,565,567,568,570,572,573,575,577,578,579,581,583,584,587,590,591,595,597,602,603,605,606,609,610,613,616,619,620,622,623,627,628,629,631,634,637,642,645,648,653,655,656,658,659,661,662,664,665,669,672,673,674,675,678,687,688,692,698,700,704,709,710,713,718,721,722,723,725,729,731,738,740,743,744,750,752,753,755,757,764,769,771,774,779,783,785,788,794,797,810,813,816,822,823,824,826,828,831,834,837,839,844,856,859,861,864,866,867,869,870,873,875,877,880,886,888,893,896,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,4,5,8,11,12,14,15,22,26,30,32,33,35,37,38,39,41,42,43,44,45,48,50,51,53,55,58,59,63,64,68,69,71,74,79,80,85,91,94,98,100,101,106,114,115,118,119,121,123,127,129,132,136,138,142,143,146,147,152,156,157,163,166,168,170,174,175,179,181,183,186,187,190,193,195,197,198,201,204,206,213,219,220,227,229,230,233,236,237,239,240,243,246,248,252,260,262,265,270,271,274,276,277,279,282,285,289,295,296,298,299,300,302,305,307,308,309,313,320,325,326,328,329,331,333,337,341,342,348,350,354,358,359,363,364,368,370,371,373,377,378,381,383,385,388,389,391,393,395,400,402,404,407,409,413,417,418,420,422,425,427,428,432,434,436,437,441,443,444,448,453,455,460,461,465,466,467,468,470,472,474,477,481,484,494,495,497,499,502,506,509,511,513,514,515,517,518,521,523,525,531,535,536,539,540,543,547,550,551,552,554,555,558,563,564,567,569,570,573,575,578,579,580,587,592,593,595,601,604,605,609,610,612,616,617,619,620,622,623,627,629,633,634,637,644,647,656,657,659,662,664,672,674,678,679,680,682,685,687,693,695,696,698,700,703,705,712,713,714,717,720,722,723,728,731,733,735,737,738,742,744,747,751,753,755,760,763,764,766,774,775,776,778,780,782,783,787,789,791,794,798,805,807,808,810,814,815,816,821,823,827,829,837,838,841,843,845,846,847,850,851,858,859,861,864,869,870,873,875,876,877,882,886,887,892,894,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,4,8,10,11,13,15,20,32,33,35,37,41,43,45,51,53,58,61,67,68,69,70,71,76,77,80,82,83,85,90,91,92,94,97,98,103,104,106,108,109,114,115,119,125,126,129,130,132,138,139,140,145,147,149,151,152,154,158,162,167,168,169,171,173,177,184,188,190,192,193,196,198,199,201,203,207,209,211,213,215,217,219,221,222,223,225,227,230,233,237,239,240,242,244,246,249,250,252,256,259,260,261,264,265,269,271,276,277,279,281,285,286,288,289,292,293,297,298,303,305,307,309,311,312,313,314,319,321,323,326,328,329,331,335,336,341,342,344,347,348,353,354,356,359,365,367,373,377,378,380,381,382,384,386,389,391,393,397,400,403,409,411,418,420,421,422,425,427,428,430,432,433,435,438,441,445,446,449,451,453,456,462,464,467,468,470,471,472,473,474,478,482,484,485,490,494,495,499,501,506,508,510,511,513,514,516,517,519,520,521,523,526,528,530,536,541,544,545,548,549,553,555,556,558,563,564,566,567,571,574,577,578,580,582,583,584,589,593,594,595,597,600,603,605,607,609,611,615,616,617,619,626,627,628,633,635,639,642,645,646,649,654,656,663,664,667,668,669,671,673,674,676,690,691,699,700,705,709,711,715,719,721,722,725,726,728,733,734,735,742,744,745,747,748,751,752,760,763,766,768,769,771,774,776,779,783,784,787,796,801,803,808,812,816,817,819,822,823,825,826,827,833,843,845,849,850,852,855,856,862,864,866,868,872,874,876,879,885,889,890,894,895,896,897 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 4,5,7,9,12,13,25,30,38,40,43,45,46,48,49,53,54,55,60,63,65,68,72,76,77,78,80,82,93,94,96,98,99,102,105,110,111,112,114,116,118,120,128,130,133,136,139,142,143,147,148,151,153,155,158,160,161,162,163,166,169,170,171,174,176,179,180,182,183,186,187,188,192,194,196,199,200,203,206,208,211,215,216,223,224,225,230,231,233,236,240,242,245,246,258,259,262,265,273,274,279,281,282,284,290,296,301,302,303,306,308,309,314,316,318,322,325,330,331,339,342,346,349,352,353,355,359,361,364,365,368,371,373,375,376,378,379,382,384,388,390,392,398,399,401,404,406,409,411,414,421,422,424,433,436,437,438,440,442,443,445,447,448,451,453,455,458,461,462,465,467,470,474,476,479,480,484,485,486,489,491,493,496,498,499,501,505,506,507,511,512,513,516,517,520,524,533,538,542,543,545,547,548,552,554,560,562,563,566,574,575,579,581,587,593,597,598,602,603,604,612,614,616,617,623,624,625,628,635,637,638,645,647,650,651,654,655,661,663,665,666,669,672,675,678,680,682,685,688,689,692,697,699,702,704,705,709,710,713,715,718,719,722,724,725,727,730,733,734,737,741,743,745,747,748,749,753,754,756,758,760,763,768,772,776,777,785,788,792,795,797,798,801,804,806,808,809,815,818,820,822,824,828,831,834,837,838,839,844,845,846,850,851,852,854,859,862,866,873,880,882,885,886,889,890,892,894 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 2,3,5,9,15,16,17,19,23,27,29,31,36,39,40,41,42,44,46,50,52,54,57,58,60,63,64,66,68,74,75,77,78,81,85,88,89,91,93,95,99,105,106,107,108,110,111,114,118,121,123,126,129,131,134,136,138,139,140,145,148,149,154,156,159,160,163,166,168,170,176,177,182,185,187,192,194,195,197,203,205,207,209,212,217,219,222,224,227,228,231,232,236,238,239,242,244,245,252,253,254,256,257,259,261,266,273,275,277,279,282,284,286,287,291,293,294,295,297,298,300,301,303,308,310,312,316,319,321,322,325,330,331,333,336,338,343,348,350,357,360,362,366,367,371,372,373,374,376,381,389,391,393,399,411,420,425,428,432,434,436,437,439,443,445,446,451,453,456,458,459,461,467,469,472,475,477,479,480,482,485,488,489,491,493,495,505,512,513,515,518,519,520,522,523,524,528,529,531,532,535,538,539,544,546,548,550,553,555,556,560,562,563,564,566,569,573,576,579,584,585,592,593,603,604,609,614,618,622,625,627,630,633,634,639,641,645,649,656,669,671,674,676,678,679,682,687,688,691,692,697,701,704,705,706,708,709,714,715,716,719,720,722,724,726,728,732,733,736,738,740,742,743,749,751,753,754,756,758,764,767,774,776,777,782,785,789,792,793,796,797,802,808,810,811,813,820,823,825,828,835,840,843,844,845,852,856,865,866,868,869,871,873,874,876,879,880,882,884,886,887,888,889,893,896,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,3,7,8,13,15,17,21,23,26,30,32,35,36,37,40,42,45,49,53,55,57,62,67,70,72,74,75,77,78,81,84,86,89,91,94,95,99,102,105,115,122,125,127,132,136,137,142,144,147,150,155,156,160,166,168,174,178,180,182,183,184,188,190,195,197,199,203,205,208,211,212,221,222,227,233,234,237,241,242,245,247,248,249,252,256,257,259,263,265,266,268,269,271,272,273,275,276,278,297,298,301,305,313,316,319,321,325,327,332,334,335,336,339,341,344,354,356,359,363,366,370,372,374,376,380,382,383,386,388,390,392,397,399,401,402,407,410,411,415,417,418,420,421,426,428,430,435,438,439,441,442,448,450,451,452,455,458,459,465,467,474,475,477,478,479,481,484,485,486,487,490,491,493,494,496,498,503,510,511,518,520,521,523,524,525,527,532,537,541,542,543,544,547,549,552,556,557,560,562,565,566,568,569,571,574,577,580,589,590,594,599,602,605,609,613,615,620,625,628,630,632,635,636,637,639,641,643,644,652,655,659,661,663,666,667,672,674,677,679,680,682,683,684,686,687,690,694,696,699,702,703,705,706,710,711,712,715,718,723,730,732,733,739,741,743,746,748,750,755,761,764,766,769,771,778,779,782,785,786,787,790,791,793,794,806,808,809,811,816,818,819,821,826,829,830,836,837,838,840,842,848,850,854,856,858,862,864,865,867,871,879,883,884,886,888,896,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 4,5,9,10,11,12,15,17,20,21,24,25,35,37,44,50,52,54,58,62,63,65,66,70,74,76,77,79,80,84,86,88,89,93,96,98,99,100,101,104,110,116,120,121,124,125,126,127,130,131,132,136,138,140,142,143,146,149,150,155,156,158,160,169,170,182,186,190,191,192,194,196,201,202,203,207,209,210,214,215,224,226,228,232,234,235,236,245,246,248,251,254,256,258,262,265,268,269,271,277,283,285,289,290,291,292,294,295,301,303,306,311,312,314,317,318,320,325,327,330,331,338,342,344,346,347,354,358,359,362,365,371,375,378,379,381,384,387,389,390,391,393,394,397,399,407,410,411,417,418,423,424,425,427,431,432,434,439,443,444,446,454,455,457,459,462,465,466,468,472,473,475,476,478,479,490,491,492,493,495,497,499,500,504,507,508,510,512,521,523,525,526,528,530,532,537,538,540,545,546,547,549,553,554,558,565,566,567,571,574,577,580,585,586,588,589,591,593,601,602,603,605,608,610,613,615,618,620,622,625,626,629,634,638,639,646,648,649,653,660,662,665,666,668,671,674,675,677,679,680,682,685,687,689,690,692,700,708,710,715,719,726,732,734,735,737,742,748,753,755,757,759,765,767,773,774,779,782,785,786,789,792,793,795,796,798,801,806,808,809,811,817,819,823,824,825,830,834,839,840,846,848,851,853,856,861,864,865,869,870,875,877,879,883,885,888,893,896 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,6,10,12,13,14,17,19,20,22,24,25,26,27,30,31,33,34,35,37,39,41,43,48,49,51,54,58,60,61,63,71,76,78,80,81,82,83,86,88,92,94,96,98,100,101,106,108,112,117,118,122,127,133,135,138,139,141,145,147,149,150,154,155,158,163,167,169,171,172,175,176,177,178,181,183,186,188,191,196,197,198,199,200,201,204,205,209,210,215,216,217,219,222,223,224,225,226,234,236,239,242,246,247,249,252,254,256,260,261,269,274,276,278,280,281,282,283,284,286,287,289,291,293,294,297,301,305,307,308,309,315,316,319,323,325,327,329,334,340,343,344,345,347,348,350,351,353,356,358,362,363,364,374,377,380,386,388,389,391,392,398,401,404,410,412,414,416,419,420,424,426,432,435,440,444,446,450,451,454,456,459,460,464,466,468,473,477,478,479,482,488,489,490,492,494,495,497,499,500,502,504,506,509,510,512,515,517,518,520,521,523,524,532,534,535,536,538,540,541,543,544,546,551,553,556,557,562,565,567,570,572,575,579,580,582,583,587,591,592,593,595,596,605,608,611,613,615,617,622,623,624,627,629,630,636,642,643,649,651,652,654,658,659,660,662,666,669,671,674,677,683,685,686,691,693,696,699,700,702,707,708,709,712,717,719,723,725,727,730,734,737,742,743,745,746,748,753,757,758,763,766,768,770,772,775,778,780,782,788,790,791,796,798,803,806,807,811,812,815,816,820,821,824,827,832,834,839,840,843,845,857,859,860,863,864,866,868,874,878,881,882,884,885,888,889,895,896,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,8,10,12,15,19,22,24,25,27,29,37,38,40,48,49,54,63,66,74,75,76,78,80,81,84,85,88,90,92,99,102,103,106,110,111,113,118,122,125,126,129,130,133,135,139,140,142,144,147,149,153,155,158,161,162,169,171,174,175,180,181,184,190,192,193,194,196,207,214,215,216,218,219,223,225,227,228,229,233,237,239,240,245,246,247,251,254,259,261,264,265,266,271,273,274,278,286,290,292,293,298,299,303,306,307,311,313,314,317,318,321,322,325,327,329,330,333,335,338,340,343,344,345,346,347,349,352,354,355,359,362,368,370,372,373,375,378,382,385,387,388,389,396,398,400,402,403,405,406,409,412,414,418,420,421,424,427,429,432,436,443,444,447,448,453,456,459,461,462,464,466,469,471,473,477,478,481,483,484,486,488,493,495,496,498,499,500,501,503,509,516,519,520,522,523,530,533,537,539,541,543,545,548,550,552,553,555,559,562,563,566,567,571,577,580,582,584,586,587,590,591,594,595,597,605,609,610,617,621,623,624,627,628,629,630,632,634,636,638,643,644,646,647,651,655,656,659,661,662,666,667,668,669,674,676,677,679,687,692,696,697,701,705,706,709,710,712,714,716,720,723,724,727,732,735,736,740,741,743,747,749,752,753,758,760,761,765,766,768,771,772,773,775,776,779,784,789,792,794,799,803,805,807,809,810,811,813,814,816,817,819,827,828,831,833,837,839,840,841,844,846,847,848,853,857,858,867,870,876,880,882,885,890,892,894,900 --> row.names NOT used”Warning message in eval(xpr, envir = envir):
“model fit failed for Fold04: vars=35 Error in fitter(btSamples[[iter]], x = x, y = y, ctrl = bagControl, v = vars,  :
  task 1 failed - "could not find function "lev""
”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 2,4,8,9,22,26,32,34,36,37,39,44,47,48,49,50,52,55,57,58,60,61,63,66,68,70,76,77,79,80,84,86,87,91,95,96,98,99,101,102,105,107,111,115,117,118,123,124,126,128,129,131,133,136,138,142,144,147,149,150,152,154,158,162,168,171,173,174,181,183,186,192,195,196,198,200,204,206,210,214,216,217,220,226,227,229,230,232,237,238,239,244,245,247,252,254,264,269,274,275,276,281,286,288,291,295,296,299,305,306,307,310,320,322,323,326,330,335,342,346,347,351,353,358,359,362,363,364,368,370,372,374,381,384,391,392,393,394,396,402,403,404,405,412,414,415,418,425,426,427,428,429,430,432,434,437,439,440,444,446,448,451,455,464,465,466,467,470,471,473,477,479,482,483,486,490,491,492,505,509,510,511,516,519,526,527,529,533,534,538,539,540,543,549,550,552,555,558,559,561,569,574,575,576,580,584,586,591,598,600,603,607,609,610,612,621,624,626,629,631,633,634,635,636,639,641,645,649,650,651,653,655,658,661,665,667,669,671,672,676,677,679,682,683,685,686,688,690,691,693,694,698,702,703,704,711,721,723,726,728,730,732,735,736,737,739,740,742,746,750,752,753,758,760,762,766,769,772,773,779,780,784,787,790,791,795,797,809,811,816,817,819,820,821,824,826,829,830,834,835,837,840,841,843,846,850,852,854,856,859,866,869,871,877,880,883,884,886,890,891,894,895,896,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 7,8,14,15,18,21,29,31,32,35,49,55,57,58,59,61,64,68,76,78,79,82,84,85,89,91,92,98,106,113,115,116,119,120,122,123,127,128,130,131,133,135,136,139,141,142,144,147,148,150,155,157,159,162,164,168,170,171,177,178,181,183,189,191,196,198,201,205,208,210,212,214,215,219,220,222,227,230,239,243,245,246,247,249,251,254,255,256,257,259,263,265,266,267,271,273,274,276,278,280,283,290,293,294,295,298,299,301,303,304,314,318,322,328,331,334,335,339,341,342,344,347,348,351,355,356,361,365,369,371,376,377,383,387,388,391,396,397,400,402,405,408,409,411,415,416,420,421,425,428,430,433,434,440,441,443,444,445,449,451,452,456,457,461,465,466,468,471,472,474,478,480,481,486,487,490,498,503,506,507,518,521,523,525,527,530,532,535,537,540,541,544,548,549,553,554,555,557,558,560,561,566,568,570,572,574,575,577,579,581,583,585,586,588,591,593,594,596,597,599,606,608,609,612,613,616,618,620,621,624,628,629,631,641,646,647,649,650,653,654,657,658,660,662,663,673,676,684,692,694,697,700,702,705,706,709,710,711,721,724,740,743,746,748,750,755,762,764,766,773,775,778,779,780,782,784,790,796,798,802,804,809,810,813,815,817,822,823,824,826,832,836,841,842,843,845,846,853,854,857,859,861,863,864,865,867,869,870,871,872,873,876,877,880,881,886,888,890,892,893,894,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 4,7,8,14,15,16,19,21,23,24,27,29,30,31,34,36,37,38,40,41,42,43,45,46,48,49,50,54,58,60,61,67,69,72,75,76,79,80,84,88,89,91,94,95,99,103,104,106,114,115,116,118,119,123,124,126,128,129,134,136,138,139,140,143,149,151,155,157,160,162,163,170,172,174,175,178,182,185,187,188,194,195,200,202,206,210,215,216,220,222,223,224,228,237,239,244,246,248,252,253,254,256,258,261,265,266,268,270,273,275,277,278,279,280,283,284,287,289,290,292,296,297,299,302,304,305,307,308,310,311,318,325,326,328,336,337,338,340,342,347,348,350,351,353,360,362,367,370,373,377,378,381,383,384,385,386,388,390,392,393,396,397,404,405,407,408,409,411,413,414,416,417,420,423,431,432,434,435,438,441,442,444,447,448,452,455,462,464,466,468,469,470,476,477,478,479,483,485,487,489,492,496,498,500,506,507,508,510,511,512,515,516,519,520,523,526,532,536,537,540,542,543,551,552,555,557,558,560,562,564,567,569,572,575,582,583,585,587,590,595,597,598,601,602,604,606,608,614,615,616,618,620,624,632,634,636,639,642,644,648,651,653,656,657,659,663,666,671,673,676,678,681,682,686,688,689,692,693,696,698,703,704,706,709,712,714,715,718,719,727,729,731,735,736,739,744,749,751,754,758,765,768,769,771,773,774,780,781,783,784,785,789,795,799,805,806,812,814,815,821,823,825,829,834,836,839,844,846,850,852,854,856,857,862,865,870,871,876,879,882,885,886,888,891,893,896,898 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,4,5,6,9,12,13,14,15,22,23,24,25,28,29,30,33,35,40,41,42,51,54,56,58,59,60,63,65,66,67,68,70,71,73,75,76,83,85,87,89,91,92,94,96,99,100,103,105,108,111,112,117,118,122,123,126,128,130,133,135,136,139,143,151,152,155,158,159,164,165,166,168,170,172,175,176,178,180,182,184,186,189,191,199,207,209,210,211,213,214,215,222,226,233,234,237,240,241,244,246,249,252,256,257,259,261,266,272,277,279,281,283,284,286,288,291,292,294,298,299,302,304,306,311,312,313,317,318,319,322,326,327,328,330,332,333,335,336,341,343,344,345,349,359,360,363,364,366,369,373,376,378,379,386,388,390,394,395,404,410,413,414,415,419,424,431,432,434,435,438,440,441,444,447,449,451,452,456,459,461,467,469,470,473,474,477,479,481,484,485,487,490,491,496,501,504,505,508,509,512,515,522,523,533,535,536,538,542,545,548,549,552,553,554,556,558,561,564,565,568,569,574,578,580,582,584,587,588,589,594,596,602,604,609,611,614,615,619,621,624,628,630,633,635,636,637,641,642,644,645,649,650,653,654,656,657,660,664,666,667,668,670,672,676,679,699,701,705,708,710,711,712,714,716,717,718,719,720,727,730,733,734,737,740,741,742,744,747,749,751,755,757,759,761,763,767,771,773,775,776,779,780,782,783,784,786,788,789,792,794,797,801,804,806,807,811,812,815,819,820,821,824,825,826,827,829,833,837,844,850,851,852,863,864,865,867,869,872,876,880,885,886,887,891,894,896,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,7,9,11,13,18,19,21,22,26,27,34,35,36,39,40,45,52,57,59,60,62,65,66,69,70,72,74,75,76,78,79,81,82,83,87,90,93,95,96,98,104,107,110,114,115,123,126,127,128,133,136,138,140,142,144,149,151,153,155,156,159,163,165,166,169,171,172,175,176,178,179,180,182,183,186,188,193,194,195,196,200,201,202,203,205,206,207,210,212,213,215,217,219,222,223,225,226,229,237,238,239,242,248,250,251,252,253,254,256,257,260,261,263,267,271,273,277,279,283,285,288,291,294,299,303,307,309,314,315,317,322,324,326,331,333,338,340,341,342,344,345,347,350,351,352,355,356,362,366,368,372,374,375,383,385,386,390,394,396,402,408,410,413,419,423,426,428,430,437,438,439,440,442,446,450,452,456,461,462,464,466,468,469,472,474,477,478,479,483,484,486,489,497,500,502,504,505,506,511,512,520,521,524,525,529,530,533,538,540,541,545,546,547,549,554,555,559,561,562,567,571,576,577,581,583,586,588,592,594,597,599,600,603,608,610,612,615,618,619,621,628,629,633,635,640,642,645,647,654,657,663,668,671,675,676,678,679,684,691,692,699,700,702,704,705,707,711,718,721,724,729,731,733,737,740,744,745,747,753,755,756,759,762,764,767,771,772,774,775,777,778,779,783,790,792,794,795,796,798,799,802,803,804,805,807,809,811,813,814,820,821,823,825,829,832,838,841,844,847,850,852,853,856,858,859,861,863,864,866,868,869,871,872,885,886,887,889,890,892,893,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 2,4,6,9,14,17,22,23,29,36,38,39,42,44,46,50,53,54,55,58,59,64,66,70,74,76,80,81,87,89,95,97,100,106,108,109,110,113,119,122,124,126,129,130,134,137,140,141,144,149,150,152,160,166,169,176,178,179,181,183,185,186,190,191,193,199,200,202,203,205,209,212,213,218,221,224,228,235,238,240,241,242,246,247,250,253,256,257,259,261,268,271,272,273,274,277,285,291,298,301,306,316,319,320,323,325,326,331,332,335,336,338,340,347,352,354,358,360,361,365,367,375,377,380,390,392,395,396,398,399,405,410,413,414,419,420,422,423,427,432,433,434,435,441,443,444,450,453,455,457,461,462,463,465,466,467,470,471,479,480,482,484,489,490,494,495,503,504,507,509,515,520,521,522,525,528,529,530,532,534,536,537,538,541,543,544,546,547,548,551,555,560,564,567,569,570,575,576,577,579,582,583,586,588,590,593,598,605,608,609,616,620,621,622,627,628,631,634,639,640,642,643,645,646,649,651,655,659,664,665,666,668,670,675,678,682,683,685,689,690,691,694,696,698,700,702,703,706,707,719,722,727,728,729,731,733,735,737,743,746,749,750,752,756,759,760,762,763,766,767,772,775,778,780,782,783,785,786,790,791,792,794,797,800,802,809,813,815,816,818,819,824,826,828,829,830,833,835,838,839,840,841,843,848,850,851,875,878,881,883,886,887,891,892,894,897,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 10,16,19,22,28,29,32,37,40,43,44,46,47,48,50,53,57,59,60,61,63,67,70,71,73,74,75,81,83,85,88,89,92,95,96,100,103,111,113,118,122,123,127,128,131,133,134,138,139,140,143,145,146,147,150,151,154,158,160,162,165,166,170,172,173,177,179,182,184,187,188,190,192,194,198,201,205,206,210,211,213,215,221,227,230,234,238,240,241,245,246,248,252,257,259,265,267,273,276,279,280,285,287,289,293,296,297,299,300,303,304,309,311,317,320,321,323,327,334,342,346,348,349,352,358,360,367,368,370,373,375,378,379,381,382,384,389,392,393,394,395,398,400,405,406,407,415,417,422,424,427,429,431,436,437,439,442,443,445,447,448,454,455,457,458,460,462,463,465,471,473,479,481,484,490,491,494,496,498,500,503,507,510,515,521,524,530,531,533,537,539,542,544,545,547,550,552,554,558,561,573,574,578,584,586,588,591,592,596,601,604,606,608,609,612,615,619,621,626,627,630,632,633,635,636,638,641,645,648,649,652,653,657,658,660,662,671,672,674,677,684,685,687,689,692,696,697,700,702,704,706,708,710,711,713,715,716,720,721,724,727,729,733,738,739,745,751,755,761,762,768,774,776,778,780,781,783,790,792,796,799,802,803,806,807,810,811,812,814,817,820,822,825,829,831,833,834,836,840,846,848,851,854,859,861,864,867,868,873,874,882,883,886,889,891,893,895,896,897,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,6,7,9,10,12,14,17,19,22,23,24,31,35,37,40,42,44,48,49,54,59,61,63,64,67,74,76,78,80,82,86,87,88,89,92,95,98,99,102,104,108,110,115,122,123,125,127,129,130,133,135,136,144,150,151,153,154,157,162,167,173,181,185,186,188,191,197,199,201,212,215,217,220,222,224,225,227,229,234,235,240,246,250,251,252,256,257,265,266,267,271,276,278,283,284,288,289,290,292,300,302,303,305,307,308,311,316,320,321,324,328,331,340,342,346,348,349,352,356,358,364,365,368,374,375,377,379,381,382,386,387,393,395,400,401,404,406,409,411,414,419,420,423,429,433,439,441,444,446,448,452,453,454,456,461,462,463,465,470,471,472,475,488,489,496,500,503,504,507,508,512,519,521,522,523,525,527,531,532,534,536,537,541,543,545,548,549,550,553,555,556,558,561,565,566,569,570,572,573,574,576,580,582,586,587,588,591,592,594,598,603,605,606,611,612,616,617,619,620,623,624,625,627,628,629,631,636,637,639,640,641,644,648,652,656,659,661,665,667,669,670,671,676,678,681,683,685,687,688,690,692,694,700,701,702,705,708,710,712,719,720,728,732,736,738,740,742,746,755,756,759,761,762,763,765,769,771,775,785,788,791,793,794,801,803,804,806,809,811,812,814,816,819,820,823,827,831,837,839,844,850,852,857,860,862,864,865,866,869,870,872,873,875,876,879,880,883,888,890,891 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,3,5,6,11,14,16,18,20,22,24,26,27,30,32,35,39,41,42,49,52,55,56,59,60,62,65,66,69,71,72,76,77,79,82,84,85,93,101,102,104,109,111,113,114,115,120,124,129,133,136,138,142,144,146,148,150,151,154,156,158,159,164,166,167,168,175,178,180,185,186,189,192,196,204,207,208,209,211,213,215,217,220,222,226,227,231,233,237,241,244,246,249,250,251,253,254,256,258,260,262,266,267,269,273,277,279,280,283,284,290,292,296,298,299,302,305,308,310,313,314,316,320,322,323,325,326,329,331,333,337,340,341,343,347,350,351,352,353,355,360,361,364,367,369,371,372,374,376,379,381,385,386,389,390,394,395,396,398,400,402,404,407,409,411,417,418,420,423,424,426,428,432,434,435,436,438,440,441,442,444,448,449,451,454,455,461,464,469,471,475,486,487,488,492,494,495,498,504,508,509,512,513,514,521,530,531,548,553,555,556,559,561,562,563,565,566,570,571,572,582,583,592,593,599,601,603,612,613,616,618,620,623,624,625,627,631,633,635,638,640,642,645,650,651,654,656,659,663,664,666,668,670,672,674,676,680,683,685,687,690,692,694,696,697,703,706,707,708,713,715,718,724,725,726,730,737,741,745,750,753,754,758,759,762,767,769,771,772,773,779,780,782,787,789,791,793,795,796,798,800,805,806,807,809,815,816,818,825,827,828,832,840,843,845,849,851,853,856,857,860,862,863,864,869,873,886,887,896,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 4,5,7,9,12,13,15,16,17,22,24,26,29,32,36,38,41,42,46,48,50,55,56,57,59,71,72,76,77,80,81,90,91,94,101,103,107,110,111,113,114,117,118,120,121,122,124,132,136,139,146,147,153,158,160,162,163,165,168,169,172,174,179,180,183,184,187,188,189,191,192,193,195,197,199,200,201,203,205,210,216,218,219,221,224,226,228,232,236,246,247,249,251,254,256,259,262,263,270,273,274,275,277,279,282,286,287,289,293,296,308,310,312,314,316,318,320,323,324,327,337,339,343,344,347,348,357,359,363,365,367,370,371,373,376,381,386,390,391,394,400,401,403,407,410,412,418,419,421,425,427,428,431,432,433,437,439,441,443,447,452,453,459,462,463,466,467,471,474,476,481,483,487,488,491,497,502,506,510,520,521,526,528,534,535,538,542,544,551,552,554,557,558,560,568,569,571,573,575,577,578,580,581,587,589,591,593,594,596,599,600,602,604,608,613,615,619,620,624,625,629,631,634,636,637,638,640,642,645,646,647,649,654,655,660,662,664,666,668,671,672,674,675,678,679,680,682,685,689,691,693,694,698,700,703,704,706,708,709,710,712,716,718,719,720,721,722,726,728,730,733,744,746,747,749,752,754,758,760,761,764,769,771,775,777,779,783,787,788,790,795,798,801,805,806,807,808,809,813,816,822,824,827,828,834,838,839,842,843,847,849,850,853,854,856,859,861,864,866,869,870,874,875,876,882,883,884,888,894,895,900 --> row.names NOT used”Warning message in eval(xpr, envir = envir):
“model fit failed for Fold05: vars=35 Error in fitter(btSamples[[iter]], x = x, y = y, ctrl = bagControl, v = vars,  :
  task 1 failed - "could not find function "lev""
”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 2,3,7,8,13,14,15,18,22,23,27,32,39,41,45,48,57,60,61,64,69,71,73,75,87,89,92,96,98,100,102,105,106,108,112,113,115,120,122,123,124,128,129,131,132,134,137,140,142,144,160,162,163,165,168,169,172,173,178,181,185,188,190,191,194,197,198,211,212,214,217,218,220,221,224,226,227,229,230,235,238,247,249,250,254,263,268,272,273,277,280,285,290,292,293,295,302,305,307,308,309,310,311,315,317,319,326,328,331,332,337,340,343,347,349,350,353,357,358,360,368,370,371,373,376,383,385,387,388,390,393,395,397,400,403,406,409,412,414,416,421,422,423,425,427,433,434,437,438,439,441,443,445,446,449,461,467,468,470,472,475,476,478,480,483,486,491,497,501,505,508,510,512,513,514,515,517,529,531,536,538,539,544,545,548,549,550,553,554,556,557,561,563,568,570,573,576,579,582,584,587,590,592,593,594,597,599,608,613,616,617,618,620,622,623,624,625,627,629,632,633,640,642,643,645,648,650,652,656,658,662,663,665,667,668,672,676,679,681,683,684,689,691,692,697,700,706,708,714,716,717,719,720,721,726,730,731,734,739,742,743,745,746,749,753,755,759,762,769,772,780,784,785,787,792,793,799,801,803,805,808,810,811,814,815,821,823,825,827,828,830,835,837,842,845,846,847,855,856,860,862,865,869,870,872,875,881,882,885,888,891,892,894,897,899,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,4,6,8,9,12,14,16,20,21,25,27,35,38,39,45,47,48,51,54,60,64,67,70,72,74,75,77,79,81,84,85,86,89,92,94,103,107,115,118,123,124,125,126,129,131,136,138,144,146,148,149,150,153,157,161,165,166,167,172,173,175,176,179,180,182,188,191,193,197,199,204,205,206,208,210,211,225,228,230,234,237,238,239,249,253,254,260,261,263,264,265,274,276,278,279,281,284,286,287,290,296,297,300,302,304,305,308,309,311,313,315,319,321,322,324,325,328,331,333,334,335,344,346,349,351,352,354,356,357,359,362,363,365,368,370,371,372,375,379,381,382,385,389,392,397,398,400,402,405,409,411,412,416,418,419,422,424,425,431,435,436,440,441,447,452,457,460,463,465,473,476,479,485,488,489,493,497,498,502,504,505,507,509,512,514,517,518,520,525,527,529,531,535,536,542,544,545,546,548,552,554,555,557,560,561,563,564,569,571,573,584,585,590,592,593,595,596,599,604,609,613,619,621,622,623,628,629,631,634,635,637,639,640,647,648,653,654,656,657,662,663,666,668,669,670,672,676,678,679,680,682,683,684,686,687,688,689,691,695,697,701,703,705,706,707,711,719,728,730,734,737,739,742,745,746,748,752,753,755,756,757,759,762,764,766,773,778,782,786,788,790,796,798,801,804,806,810,815,816,817,818,821,825,828,832,834,835,836,842,843,845,846,848,851,853,856,857,861,862,863,866,867,871,874,876,879,880,881,885,886,887,890,894,895,898 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 5,7,8,10,11,12,13,15,18,23,24,26,28,34,35,36,38,42,43,46,48,50,52,53,56,61,68,69,72,73,81,84,88,89,90,91,94,95,97,98,101,102,103,107,110,115,119,120,123,131,139,144,146,147,150,151,155,156,165,166,167,170,171,173,177,179,187,199,207,209,214,216,219,220,222,223,225,227,228,231,237,240,247,250,251,253,256,258,259,262,268,270,272,273,277,278,283,286,287,289,293,297,299,300,301,303,308,317,320,323,326,327,328,329,332,334,336,339,340,344,348,350,353,357,359,364,366,369,370,373,376,379,383,385,386,387,390,393,394,397,398,399,401,403,406,407,408,410,413,418,420,423,425,427,430,431,432,433,434,440,442,445,446,447,448,453,458,464,470,472,473,474,476,478,479,481,482,483,488,491,493,494,495,498,499,502,505,506,508,509,513,514,517,521,522,523,528,535,540,542,546,549,552,554,557,561,563,565,567,569,571,573,575,581,582,587,588,592,596,598,599,601,603,604,606,607,609,611,615,616,618,620,622,626,628,629,631,633,640,642,644,646,652,657,658,660,661,663,664,670,671,678,684,685,686,688,693,694,695,697,699,703,705,712,713,716,718,719,721,722,728,730,731,732,735,742,751,753,756,757,761,762,763,765,767,769,770,772,776,779,781,782,784,785,788,790,797,799,800,801,804,815,817,819,822,823,829,831,832,835,837,838,839,842,843,845,851,852,854,859,860,862,863,865,866,871,873,877,885,888,893,895,898,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,5,8,10,12,13,22,23,30,31,33,35,40,41,45,46,47,48,51,52,56,59,60,62,65,76,77,78,81,83,85,88,94,95,97,100,101,106,110,111,112,113,116,120,121,126,129,135,137,138,141,142,144,145,146,147,150,151,153,155,157,162,166,167,169,172,178,180,181,188,190,192,195,196,198,200,201,202,205,206,208,210,213,215,218,222,226,228,230,235,237,240,241,242,246,247,252,253,254,258,262,265,267,273,275,277,281,283,287,293,295,299,302,313,318,320,322,323,325,327,334,336,337,341,344,345,353,355,356,358,360,371,373,374,378,387,388,396,397,400,402,405,410,412,413,417,420,425,426,428,429,430,431,432,434,435,436,438,441,443,444,447,451,452,453,458,460,463,464,465,471,473,476,480,485,488,489,490,493,494,499,509,511,515,517,519,522,527,529,531,532,535,537,539,540,542,546,554,558,560,562,566,569,571,574,575,577,578,579,580,583,585,589,591,592,595,598,600,602,603,606,610,612,613,617,618,619,621,623,626,627,630,632,635,637,638,640,641,643,644,645,649,652,653,654,655,657,667,671,673,675,679,681,682,685,686,688,689,691,692,697,698,700,702,708,709,711,716,719,721,722,728,732,733,734,735,737,742,743,745,749,752,753,757,760,764,770,774,778,782,783,785,789,791,798,800,801,804,805,806,808,811,812,813,815,816,819,821,823,824,825,827,835,836,839,840,842,846,848,852,853,855,856,858,860,862,863,867,870,872,873,874,877,881,886,889,890,893,894,896,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 6,7,8,10,12,16,17,19,20,25,27,28,31,34,36,38,39,42,45,52,53,58,60,62,69,70,79,81,92,95,97,99,100,103,106,108,111,113,123,125,127,131,134,141,143,145,147,150,152,155,156,158,161,166,171,172,176,177,178,185,187,190,197,198,199,201,206,211,212,214,216,217,220,221,222,226,227,229,232,236,238,240,242,244,247,248,255,257,261,269,272,275,279,280,282,284,289,291,292,296,299,304,306,309,312,313,320,322,323,324,326,327,331,339,340,346,348,350,351,355,356,359,363,366,367,368,371,374,375,378,379,382,390,396,397,398,400,402,404,406,410,412,414,416,417,419,420,422,423,425,428,429,431,433,435,439,440,443,444,447,450,452,454,459,460,468,470,472,474,476,478,480,482,483,487,489,491,499,502,503,504,505,509,511,514,517,522,523,525,528,533,535,536,540,541,547,548,550,552,554,556,560,563,570,571,573,578,584,588,589,591,593,595,600,602,605,608,610,614,616,617,640,643,644,652,654,657,660,664,665,667,668,672,675,688,689,691,693,694,696,698,699,702,711,713,721,722,725,727,733,734,736,738,739,741,743,753,757,760,761,762,765,767,769,774,775,782,785,787,789,790,794,797,798,800,801,803,804,808,809,812,813,815,816,820,822,824,825,826,830,841,844,850,851,852,854,857,861,865,868,869,874,875,878,883,885,887,889,891,892,896,899,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 2,6,8,9,10,11,19,22,25,26,28,30,41,43,44,46,47,51,53,57,58,59,65,68,71,72,74,78,82,87,89,90,94,97,102,103,106,108,109,111,115,118,120,121,122,126,131,133,137,139,141,143,147,149,152,154,163,168,170,175,177,179,181,182,184,190,191,193,196,197,200,204,206,207,209,215,217,220,223,225,229,230,236,237,239,242,246,248,254,256,258,262,265,266,269,271,272,277,279,286,289,292,293,295,296,298,301,304,306,309,311,315,318,320,324,325,329,330,332,334,335,339,340,344,349,352,356,359,363,365,367,370,372,376,377,378,380,381,384,385,387,391,393,400,402,403,405,406,412,413,416,422,423,427,428,432,434,437,438,442,444,447,450,456,461,465,466,467,468,470,471,473,476,478,480,484,486,489,492,503,505,509,511,515,516,518,522,533,534,535,538,539,542,549,552,554,557,558,561,568,569,571,574,576,579,581,584,586,587,589,590,594,595,601,603,607,608,609,610,612,613,616,617,624,628,631,635,636,644,646,648,650,651,652,654,656,659,663,664,668,669,671,675,677,678,684,687,691,696,703,705,706,710,713,715,716,718,720,721,723,726,727,731,732,734,739,744,746,747,751,753,755,757,759,762,763,765,767,769,770,776,777,780,782,783,788,790,792,793,795,797,798,801,811,814,815,817,819,822,823,827,829,832,833,835,837,838,839,843,846,848,850,853,857,860,861,863,864,867,868,869,871,875,876,878,879,880,894,897,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,6,8,10,14,16,17,20,27,28,32,39,45,51,53,55,59,61,62,68,69,73,75,77,78,91,93,96,98,99,103,109,111,116,117,120,122,123,125,127,131,136,138,139,141,144,145,149,150,154,156,157,163,170,174,177,179,180,184,186,188,189,191,195,197,199,200,212,217,219,220,224,225,227,229,232,237,239,243,245,247,248,249,252,253,255,260,264,267,270,276,278,279,290,292,294,297,299,300,303,305,307,313,315,316,321,322,326,327,330,332,335,337,339,341,342,345,352,357,360,367,377,381,384,386,388,390,391,398,399,400,403,404,407,410,421,422,423,425,427,429,434,436,437,440,442,443,446,448,452,454,457,459,461,462,467,469,471,477,480,482,486,491,494,495,496,497,499,504,506,509,510,511,513,516,517,520,522,523,531,532,534,535,536,539,541,542,544,545,555,561,563,564,565,569,571,573,574,575,576,578,583,588,589,591,597,600,602,603,606,610,614,616,617,619,620,621,623,626,627,628,631,634,635,638,640,643,650,651,655,656,657,661,663,666,667,668,670,673,676,677,680,682,685,686,690,692,695,696,697,704,705,709,710,712,713,714,715,717,719,720,723,726,727,729,732,734,736,739,742,744,745,746,749,752,756,758,759,761,762,770,774,776,783,788,797,799,801,802,809,813,815,819,822,823,827,829,833,835,836,839,843,845,846,850,852,855,858,861,863,864,868,870,872,874,875,880,883,884,887,890,892,893,896,898,899,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,4,6,9,11,13,16,18,21,23,24,25,29,31,35,39,41,50,53,54,57,58,59,64,68,69,73,75,76,80,84,85,87,88,92,97,101,103,105,106,109,111,115,116,118,120,121,123,126,130,131,135,137,138,139,142,145,149,150,151,153,155,158,163,164,167,169,173,175,179,186,190,197,203,206,207,209,212,214,216,218,222,223,226,227,232,234,241,249,253,255,256,259,263,266,267,268,271,273,275,276,279,281,282,284,286,288,292,295,299,302,305,309,314,316,317,320,325,331,338,340,342,343,345,348,353,354,359,363,364,366,368,369,371,374,377,379,382,384,385,390,392,394,405,408,410,411,412,413,415,416,422,423,424,427,428,431,433,434,437,441,444,447,450,453,461,463,467,468,475,479,481,482,483,484,485,488,491,495,497,500,502,516,518,521,525,528,530,531,533,536,538,542,543,546,547,549,554,556,557,560,561,563,564,569,571,572,574,577,578,589,594,595,597,598,601,602,604,605,608,611,612,619,621,622,627,630,633,635,636,638,639,640,642,644,646,648,652,654,662,669,673,683,684,686,691,694,696,698,700,701,703,705,708,710,711,715,718,720,723,726,729,732,734,742,744,746,752,757,759,761,762,763,766,768,769,771,773,775,782,783,786,792,797,798,799,800,802,803,804,806,811,815,817,819,823,825,827,828,832,836,839,852,857,863,864,869,873,875,877,879,880,885,890,892,894,896,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,5,7,14,16,18,22,24,26,27,29,30,31,33,34,36,37,43,46,48,52,54,56,57,62,65,67,68,70,71,73,75,77,81,91,92,93,95,97,99,101,102,112,118,123,129,134,137,139,140,142,144,145,149,150,156,157,159,160,161,163,164,165,166,168,172,175,176,178,181,183,185,189,192,194,198,200,201,207,208,209,210,211,213,214,216,222,223,225,226,228,229,233,238,240,241,243,245,247,249,250,257,259,261,263,264,267,274,276,279,280,282,283,284,286,288,291,292,293,299,302,303,307,311,313,314,316,317,321,323,325,331,333,338,339,340,341,343,344,346,347,352,356,359,360,362,367,368,370,371,376,379,380,383,384,388,390,397,402,405,410,413,414,421,422,424,429,430,433,436,437,438,439,440,444,448,449,455,457,462,466,467,471,472,474,476,478,479,485,489,490,493,496,499,502,504,506,507,508,510,515,518,520,522,523,525,528,530,536,538,543,546,547,548,550,555,562,564,566,571,572,574,576,577,578,583,584,586,588,593,595,597,599,600,602,605,608,617,618,620,623,624,625,628,631,634,635,638,644,645,651,653,660,661,663,665,672,674,675,676,678,680,685,686,687,690,691,693,694,695,698,700,701,704,706,707,712,717,720,722,725,727,729,730,731,736,739,743,749,751,752,756,759,762,763,765,769,773,778,779,781,782,784,785,788,791,793,797,801,812,816,818,820,826,828,830,832,839,840,844,845,849,852,853,854,856,861,863,865,866,871,872,877,879,885,886,888,891,893,894,896,898,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,6,8,10,11,13,14,16,19,20,24,26,27,30,32,33,36,39,41,43,44,46,49,50,52,53,54,57,59,67,69,71,75,82,83,84,85,90,93,94,99,101,102,104,110,116,117,119,123,124,125,128,134,138,140,143,144,149,150,164,167,168,170,172,173,180,181,184,185,186,188,189,190,194,196,198,201,202,205,207,209,210,212,215,216,217,219,228,230,231,232,234,235,237,238,239,243,249,250,254,255,257,258,259,261,262,264,267,268,269,272,275,278,285,286,298,304,306,308,310,311,313,314,317,322,326,328,330,331,334,335,337,345,346,349,350,352,353,355,358,362,363,366,368,371,377,384,388,389,392,396,398,399,402,405,418,419,423,425,426,427,429,432,435,437,438,439,441,446,452,455,457,463,466,470,472,473,478,480,481,482,484,485,487,493,495,496,497,498,502,504,506,507,511,518,519,521,522,527,528,531,533,535,537,541,544,547,556,557,560,566,567,570,575,578,582,583,585,587,590,592,596,597,601,604,605,610,612,616,618,619,620,622,623,626,627,628,633,635,637,640,642,644,645,651,652,655,657,659,660,662,665,666,667,669,671,673,674,677,679,680,683,685,691,692,698,703,708,711,719,722,726,729,734,737,739,745,747,751,753,757,763,764,765,770,771,775,777,778,780,782,786,788,789,792,796,799,802,803,804,809,810,812,816,818,825,828,832,834,838,839,841,843,847,849,850,851,853,864,866,872,877,880,884,889,891,892,895,896 --> row.names NOT used”Warning message in eval(xpr, envir = envir):
“model fit failed for Fold06: vars=35 Error in fitter(btSamples[[iter]], x = x, y = y, ctrl = bagControl, v = vars,  :
  task 1 failed - "could not find function "lev""
”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 2,4,5,6,8,9,16,18,21,22,24,27,36,44,46,48,49,51,53,55,59,60,61,68,69,71,72,73,75,77,78,80,81,83,84,87,89,91,95,100,106,108,111,116,118,120,122,123,124,125,132,133,135,138,139,142,145,148,149,151,154,157,158,160,161,162,165,178,185,187,191,194,195,207,211,213,217,218,219,223,224,227,236,237,240,241,244,247,248,253,255,256,258,259,260,262,264,267,271,275,276,278,279,283,286,291,292,294,299,301,302,304,306,311,313,316,324,327,331,333,335,336,340,344,345,346,350,351,355,361,363,364,366,373,374,377,378,379,382,386,390,393,394,397,400,401,403,405,408,409,413,420,424,427,429,430,431,434,437,439,441,446,450,451,454,456,461,464,466,467,481,484,487,490,492,495,496,502,504,505,509,511,513,515,516,519,520,527,535,542,543,544,547,548,552,554,556,559,560,562,575,580,582,583,590,602,603,607,609,611,613,614,615,617,619,621,622,627,633,634,635,637,642,644,645,647,649,654,656,658,661,664,665,668,669,670,671,672,674,677,682,686,687,689,694,698,699,701,707,710,712,713,714,718,721,722,724,727,731,733,737,738,739,742,743,745,747,750,753,754,759,764,766,767,770,773,775,782,785,786,789,791,793,796,798,803,806,807,808,811,812,813,816,817,819,822,825,831,838,843,844,845,848,850,854,857,859,860,862,863,864,866,869,870,871,873,875,878,881,885,887,891,892,895,896,897,898,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 10,15,19,22,27,28,29,31,32,34,40,43,44,47,48,50,51,53,54,58,71,76,77,81,83,91,97,99,101,103,105,106,107,109,110,112,116,119,121,124,126,131,138,140,143,144,147,148,150,151,153,155,159,167,173,174,178,179,183,184,186,188,189,190,194,197,199,200,203,206,212,213,219,222,227,228,230,232,236,239,241,243,244,248,249,253,257,260,261,262,264,266,270,271,275,277,279,281,282,286,294,296,298,300,301,304,306,308,310,312,313,315,319,320,321,323,325,331,333,336,341,342,346,349,350,354,360,363,370,371,375,376,379,380,381,383,385,391,392,397,401,402,403,406,408,409,410,411,413,414,416,417,421,424,426,427,428,431,435,438,442,447,449,450,458,460,462,463,469,471,473,477,479,483,484,487,491,495,496,498,500,502,505,509,511,512,516,519,521,527,531,534,536,542,545,554,558,559,564,567,569,570,573,574,578,587,588,593,595,596,597,598,600,602,604,605,607,610,612,616,623,624,627,632,633,635,640,642,646,648,652,656,659,662,664,665,667,669,672,677,679,682,686,689,690,693,698,706,707,709,712,714,716,718,721,723,728,734,736,737,740,741,746,750,757,759,760,761,767,769,770,771,773,774,779,781,782,784,785,786,790,792,796,799,801,803,805,807,809,810,811,812,815,817,820,822,824,826,830,833,837,838,839,841,845,846,848,851,857,858,859,860,861,864,865,868,872,873,874,881,891 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 7,8,13,14,19,22,24,26,27,30,32,34,35,45,46,51,52,54,56,57,59,62,63,66,68,71,72,74,75,78,84,86,88,91,97,101,108,109,114,115,116,117,122,132,133,134,137,140,141,143,144,145,146,148,150,152,153,155,156,157,160,167,168,169,175,177,182,183,186,188,189,191,200,203,204,208,212,213,214,219,220,221,223,225,230,231,233,235,238,241,242,256,258,262,265,268,271,272,274,275,280,281,282,283,284,286,293,294,296,298,299,301,302,304,306,307,310,311,314,316,318,321,324,325,329,331,333,336,338,342,343,346,353,354,364,371,373,376,379,380,382,384,388,390,393,399,401,402,404,407,408,411,413,414,418,420,425,427,428,431,435,438,440,444,445,446,448,452,453,455,457,459,463,464,467,468,469,470,472,473,476,478,482,484,485,490,491,493,495,499,503,508,509,512,513,515,519,520,524,525,526,531,532,533,535,537,540,546,548,550,555,556,561,563,566,568,570,572,573,577,578,580,581,588,589,592,594,595,598,600,603,604,606,608,609,614,616,617,620,621,624,625,628,631,633,635,636,638,639,641,643,645,646,648,650,654,659,661,663,669,673,675,680,682,683,687,690,691,697,701,707,708,711,717,721,722,724,725,726,727,730,731,734,738,740,741,742,743,748,749,757,762,764,765,766,768,770,772,774,777,778,780,781,782,783,785,786,788,794,799,802,810,812,816,817,818,822,824,825,826,829,830,840,842,845,847,857,866,870,872,875,876,878,880,881,885,887,890,891,893,895,898 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,5,7,9,10,15,16,18,19,20,23,25,27,28,30,31,36,39,40,44,47,50,52,58,60,63,66,67,70,71,74,76,78,79,84,86,87,89,91,92,98,101,103,106,108,110,115,117,120,128,129,131,132,133,136,137,141,143,144,146,148,150,152,155,159,161,163,165,169,171,172,177,179,182,184,185,189,191,193,194,197,200,203,204,205,207,208,211,214,217,218,222,223,225,226,227,230,232,234,238,240,241,243,246,250,252,253,258,263,265,266,268,269,273,275,277,282,286,290,293,299,304,305,311,313,323,325,326,327,333,335,337,341,345,347,348,351,354,355,361,363,364,366,368,373,375,376,378,383,385,387,388,390,392,395,397,398,400,401,405,407,410,412,414,415,420,421,422,433,434,436,438,441,442,447,450,453,455,459,461,463,464,466,467,471,475,481,482,484,485,487,492,500,502,503,504,505,508,510,516,517,520,521,524,536,539,542,543,546,554,558,559,562,563,565,566,569,574,576,577,580,585,589,591,594,597,602,604,611,616,618,621,624,628,629,632,634,638,642,644,645,647,654,658,665,666,668,671,675,677,682,689,693,696,701,703,704,705,707,709,710,713,714,716,720,723,724,727,730,733,736,739,741,748,751,752,755,757,760,762,765,766,768,769,772,774,777,784,787,789,792,794,797,799,801,805,809,811,814,817,819,821,824,827,830,833,834,836,841,842,843,845,846,857,858,860,867,868,876,882,884,885,886,888,890,897,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,10,11,14,17,18,24,25,28,30,33,36,42,48,51,53,56,61,62,63,65,69,75,76,77,84,87,90,91,95,97,98,100,101,105,106,107,108,109,110,119,122,126,127,130,132,134,136,138,139,140,143,147,149,151,152,155,156,158,161,163,169,170,172,175,176,178,181,183,184,187,189,190,193,199,202,203,204,208,212,213,214,215,217,218,221,226,227,235,237,238,240,247,249,251,253,254,257,260,262,266,267,274,275,276,279,282,284,286,287,289,295,296,299,308,310,312,315,317,319,322,324,328,334,336,339,341,344,346,347,349,356,358,359,363,364,368,369,378,381,384,385,386,390,393,396,398,399,402,404,407,408,410,411,413,418,419,422,423,426,429,430,441,442,448,451,452,456,458,462,465,466,467,469,470,472,475,477,480,484,486,487,488,492,496,498,499,500,501,503,508,509,510,514,519,521,523,524,526,529,532,534,535,539,543,546,549,553,554,557,558,566,567,569,570,572,576,579,581,584,586,587,590,594,595,597,599,602,605,608,610,612,614,616,619,620,621,627,631,633,635,640,643,647,650,652,653,654,656,658,660,661,662,663,667,668,674,676,677,678,679,685,691,692,694,699,701,706,707,711,716,721,730,733,735,738,742,744,746,749,756,758,765,770,771,776,778,780,791,796,801,803,806,809,813,818,820,821,824,826,829,836,840,843,850,854,857,859,860,864,866,867,868,871,872,880,882,884,886,888,890,898,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,4,6,10,12,14,17,21,24,27,29,33,37,39,42,46,47,48,52,55,61,63,66,67,68,69,75,77,82,84,86,87,89,90,92,96,99,106,109,110,115,118,128,132,133,135,137,138,139,141,143,145,147,162,163,168,169,171,173,180,183,185,186,195,197,198,199,202,205,215,218,220,221,224,227,231,234,236,237,239,242,243,245,246,249,250,257,260,264,265,267,270,273,276,279,280,281,282,287,289,290,292,294,296,297,298,301,304,308,309,312,313,332,333,334,335,341,343,344,346,351,353,363,364,366,369,375,380,382,383,384,388,392,399,404,407,408,410,415,416,417,419,420,424,425,427,429,432,433,435,438,439,441,442,444,446,448,451,452,453,458,459,461,463,465,466,470,471,480,482,492,498,500,501,504,505,515,518,525,527,529,531,532,536,537,542,544,548,551,554,559,560,563,568,569,570,575,581,583,584,587,591,595,596,602,603,604,608,610,611,615,617,620,624,625,628,632,633,637,638,639,645,646,651,652,655,657,658,660,662,663,666,669,675,677,683,689,693,695,697,700,701,703,704,705,706,707,708,709,711,712,714,716,717,719,721,723,724,727,728,730,732,734,740,741,750,754,755,757,759,761,764,767,771,772,777,781,786,789,791,793,796,802,806,810,813,818,821,822,824,826,827,832,834,835,838,840,841,843,845,846,852,859,860,862,866,869,876,879,881,882,884,889,893,897,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 3,8,10,13,17,19,20,21,24,25,32,35,36,39,41,46,48,49,51,55,56,59,64,69,75,76,78,79,83,85,88,91,94,96,97,99,103,105,108,109,111,116,122,123,131,135,137,138,144,146,147,149,152,155,157,158,159,163,166,169,172,174,175,181,182,185,186,188,189,191,195,198,201,207,208,210,211,213,216,221,225,227,229,232,233,236,237,241,242,245,247,255,257,259,260,262,263,266,274,275,279,285,288,289,294,295,297,298,299,302,309,312,316,323,324,325,328,329,331,333,338,340,342,343,347,348,349,357,360,366,369,372,373,375,378,379,382,391,392,394,397,398,401,402,404,407,410,412,419,420,422,423,424,426,427,429,430,432,434,436,439,440,442,445,446,448,450,451,454,455,456,461,462,464,468,472,473,477,484,485,489,491,492,493,495,496,498,499,504,505,506,509,511,513,514,515,520,525,528,530,534,535,538,540,544,548,551,556,562,564,565,567,568,571,572,575,577,584,588,590,599,600,601,602,604,607,609,612,616,618,624,626,627,628,629,630,632,637,639,640,644,646,647,652,657,658,660,663,665,667,672,674,678,679,681,683,684,685,687,688,694,695,698,699,700,701,703,704,711,717,718,723,724,728,729,733,735,738,740,742,743,745,749,753,755,757,761,765,767,768,769,770,774,776,782,783,785,788,790,793,794,796,800,803,804,805,807,808,811,812,814,815,823,826,827,828,838,840,842,843,844,847,849,852,853,856,857,862,870,871,872,875,878,879,881,883,889,890,891,892,894,895 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 4,5,6,9,18,22,24,25,28,35,36,39,41,45,49,51,53,55,56,58,60,64,66,71,75,77,78,82,83,84,85,89,91,94,95,98,100,103,111,113,114,117,121,123,126,128,132,134,137,141,143,146,147,153,155,164,165,166,167,173,175,176,185,187,193,199,201,202,203,209,210,215,216,219,220,222,226,230,234,236,239,243,244,245,247,248,250,252,260,263,265,267,272,273,274,275,279,281,287,289,292,297,299,301,307,310,315,316,319,323,326,328,330,335,340,345,349,353,354,356,357,361,366,367,370,372,374,376,377,383,386,388,390,395,398,399,405,408,410,417,420,421,422,424,431,432,434,435,436,438,442,446,447,448,449,456,457,461,464,467,473,477,479,480,482,484,489,491,492,495,498,499,502,506,511,513,515,516,519,523,524,528,532,538,539,545,546,550,551,552,556,557,558,561,562,563,566,567,568,570,573,574,575,577,584,586,588,598,600,601,605,607,608,611,614,616,619,621,622,625,627,628,632,633,634,636,641,643,647,648,652,658,660,663,669,670,673,674,678,679,682,690,691,694,699,704,705,709,713,714,716,721,723,727,729,733,735,740,741,745,752,758,761,764,768,769,771,774,777,778,781,782,786,788,789,790,793,797,799,800,802,809,810,812,813,816,817,820,821,822,824,828,833,834,835,837,838,839,841,844,846,849,851,853,854,857,863,865,868,869,873,875,877,881,884,887,889,893,894,895,896,898,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 6,7,9,10,11,14,15,17,20,21,29,30,32,35,36,38,41,43,48,50,52,58,62,68,69,70,71,73,75,76,77,79,80,81,86,87,88,89,91,98,99,100,101,104,107,108,110,111,113,115,118,120,123,125,127,135,136,138,146,151,152,154,156,157,159,160,161,167,171,175,183,185,193,195,197,199,202,205,207,209,211,213,214,216,218,219,221,223,224,225,226,228,232,233,234,235,239,241,244,246,248,252,253,255,260,264,266,267,269,273,275,281,283,284,285,288,290,303,305,309,312,313,314,317,319,321,322,324,326,331,337,338,339,341,343,344,346,348,351,354,356,357,359,363,365,367,369,371,373,375,376,382,385,386,397,398,400,410,411,412,415,418,420,421,422,424,426,427,428,430,432,434,436,437,440,441,443,444,451,452,454,457,460,462,464,468,469,471,474,477,482,483,485,488,493,495,496,499,502,504,505,506,508,517,519,521,523,528,530,533,537,540,544,548,549,551,555,556,558,560,562,563,566,573,575,576,578,582,584,586,588,593,597,599,600,604,606,615,616,621,623,624,628,630,632,637,639,641,643,650,652,656,657,658,660,662,664,668,675,677,678,679,686,688,690,692,694,697,702,704,709,711,713,717,722,725,728,730,731,736,739,740,741,742,746,747,749,750,753,757,758,763,765,767,768,769,774,775,776,782,783,790,793,801,803,807,808,809,813,815,816,817,821,826,827,828,829,835,837,839,841,844,846,848,850,858,859,861,862,864,865,868,870,871,875,877,878,879,882,883,885,886,890 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,5,9,11,12,15,16,17,22,24,26,28,30,36,37,40,45,53,57,59,61,63,67,72,79,81,83,85,88,90,93,96,98,100,102,104,106,107,109,110,113,114,116,117,121,122,124,127,129,131,133,137,139,145,148,149,150,152,153,154,155,160,162,163,169,171,175,177,178,181,183,186,188,191,194,198,200,201,202,204,207,211,212,214,219,220,222,224,226,232,235,238,239,243,245,246,250,252,255,262,265,267,269,272,273,274,277,279,281,282,284,288,290,295,299,300,301,309,311,312,313,316,320,326,327,330,331,332,335,338,351,354,355,357,360,362,363,364,365,367,368,369,371,374,376,378,381,384,385,386,387,392,396,401,403,404,408,415,421,424,425,428,438,439,441,445,452,454,455,458,460,466,468,470,471,475,481,489,490,492,494,495,497,500,503,505,509,512,515,517,523,524,525,527,530,531,534,535,539,541,543,546,550,552,554,556,558,559,560,567,572,576,578,579,580,583,586,591,597,598,599,609,610,613,614,616,619,622,624,625,627,631,632,636,645,646,647,651,655,657,661,663,664,665,667,669,670,671,673,674,676,678,682,684,686,687,689,690,694,699,701,702,706,708,711,714,716,717,719,720,723,730,735,737,742,744,745,746,749,750,753,755,759,761,762,766,767,769,770,774,775,780,781,782,784,785,788,789,790,798,799,802,804,812,814,817,826,830,831,833,835,836,837,839,840,841,848,852,853,855,860,863,868,869,871,874,875,879,880,881,882,885,887,889,890,891,893,897,898,900 --> row.names NOT used”Warning message in eval(xpr, envir = envir):
“model fit failed for Fold07: vars=35 Error in fitter(btSamples[[iter]], x = x, y = y, ctrl = bagControl, v = vars,  :
  task 1 failed - "could not find function "lev""
”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,5,7,11,12,20,22,27,31,34,38,40,41,43,46,50,52,54,56,57,59,61,63,64,65,66,70,75,76,83,85,88,89,91,94,98,103,105,114,117,122,123,127,128,133,134,141,142,143,145,147,149,152,153,166,167,168,171,173,175,179,182,183,185,186,196,197,200,204,206,209,212,214,215,216,219,222,225,227,228,233,239,240,244,247,249,251,257,258,260,261,264,265,268,270,274,285,287,295,296,302,304,305,308,310,312,313,315,316,317,323,324,326,331,333,335,337,338,339,341,343,344,348,354,356,358,359,360,362,363,365,366,370,371,374,375,377,380,381,383,384,387,388,391,392,395,400,401,402,404,406,407,408,412,414,416,418,422,427,430,434,436,438,439,442,445,448,452,455,457,459,463,465,466,467,469,471,474,477,478,481,483,486,488,489,490,492,494,495,499,501,503,505,513,516,517,520,522,524,526,530,532,534,535,538,539,540,542,544,546,549,550,551,555,557,559,566,570,574,575,578,580,584,586,590,596,598,604,606,608,610,611,613,614,615,618,620,624,626,628,629,634,639,640,644,646,648,649,653,656,658,659,662,666,671,674,675,676,678,685,686,687,689,692,695,698,699,700,702,707,710,714,715,719,724,727,729,734,736,740,747,748,753,755,757,758,761,765,766,768,770,778,783,785,787,789,792,794,796,797,802,805,807,809,811,813,814,816,819,820,821,824,825,827,829,833,834,837,838,841,844,846,847,849,850,853,855,857,858,862,863,864,867,868,872,876,878,879,880,882,884,886,889,890,892,898,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 2,5,6,8,9,12,14,22,26,28,30,32,33,38,40,41,42,48,50,52,53,55,57,58,61,69,74,75,79,81,83,85,89,92,97,98,101,102,104,109,111,115,117,118,120,122,123,126,129,140,143,147,154,159,161,164,166,168,170,176,177,179,181,184,188,189,192,202,204,205,209,211,215,216,217,227,231,233,240,241,243,246,247,249,254,255,259,261,267,271,273,275,276,278,279,281,285,293,294,300,302,303,309,313,316,318,320,326,328,332,336,338,340,343,344,346,348,349,351,352,353,355,357,359,364,366,368,369,373,376,378,379,383,385,387,390,391,395,396,398,399,401,404,411,414,416,419,420,423,424,426,429,430,432,433,437,440,443,444,448,451,455,458,459,463,469,473,475,479,481,482,485,487,489,490,493,497,499,503,507,511,513,516,518,524,526,529,537,538,543,545,546,548,552,556,559,560,564,565,569,571,572,574,576,577,578,580,584,586,587,589,594,601,602,603,609,611,613,616,621,623,626,628,631,633,634,636,638,645,648,651,655,657,659,662,667,669,670,672,673,675,679,682,690,692,694,695,696,697,698,704,706,707,710,711,712,713,715,717,718,720,721,726,727,730,732,738,740,742,750,751,753,755,756,757,759,762,764,765,768,776,777,780,785,787,789,790,794,800,802,803,807,808,809,811,813,817,819,821,825,826,828,829,831,834,837,838,840,841,842,845,848,850,852,854,856,857,858,860,862,864,866,868,870,873,876,877,878,881,884,886,887,889,894,896 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,5,6,8,10,13,14,16,19,22,24,25,26,27,28,31,35,36,37,39,41,46,48,49,53,54,56,58,61,66,68,69,71,73,76,78,81,85,93,98,100,105,106,110,112,118,122,124,127,130,131,134,135,137,142,143,145,147,148,150,154,156,157,159,162,163,166,175,176,179,180,181,183,191,194,195,197,199,201,202,205,209,214,215,218,223,227,229,231,232,236,238,241,243,257,259,260,266,267,270,275,277,279,280,285,293,294,296,298,300,301,302,303,305,309,311,313,315,316,318,319,326,328,335,339,341,349,351,353,358,360,362,364,367,370,371,372,374,375,380,386,389,391,395,396,398,400,403,407,408,414,418,421,422,430,433,435,436,441,446,447,448,451,452,456,458,463,466,467,469,472,473,480,481,484,490,491,493,495,497,499,500,508,510,512,514,518,522,523,524,527,528,530,532,536,538,540,541,542,546,553,557,560,561,563,565,568,571,572,574,578,580,581,584,586,587,591,595,597,600,601,603,607,611,613,614,618,620,621,622,623,630,634,642,650,651,653,655,656,658,659,661,662,665,669,675,678,682,684,685,688,689,692,694,702,703,706,707,710,714,716,718,722,726,730,732,737,741,745,746,748,749,752,753,756,761,763,770,773,774,783,784,788,790,791,796,797,799,801,802,806,807,816,817,818,823,824,828,830,832,833,835,839,841,846,851,856,859,860,862,863,866,869,870,875,877,878,880,882,883,884,887,889,898,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,4,6,10,12,13,14,15,17,20,23,25,32,33,36,37,42,45,46,47,48,54,56,58,59,63,66,69,72,74,75,78,80,83,85,87,88,89,94,95,96,97,98,100,104,106,112,114,119,123,125,129,134,138,139,140,143,145,147,150,154,163,164,165,167,169,170,174,176,179,181,182,194,198,203,206,207,211,212,215,217,220,230,233,236,240,243,246,249,252,255,256,257,258,264,268,269,270,272,273,276,279,282,283,284,285,287,288,290,291,295,297,298,301,303,305,311,313,314,316,318,319,326,327,329,331,335,340,344,345,346,351,355,356,358,363,365,367,369,372,374,380,381,387,389,393,395,398,399,403,404,409,411,412,417,418,420,422,423,424,427,429,431,433,435,440,441,442,444,447,451,453,455,459,462,463,464,470,471,473,475,476,478,480,481,484,485,486,487,489,491,495,496,499,504,506,508,511,513,514,516,517,518,521,524,526,532,539,541,542,546,552,557,558,560,561,564,571,572,576,578,583,584,588,590,591,596,597,599,601,603,604,607,609,611,612,614,620,623,625,627,632,642,644,649,651,653,657,659,664,670,671,677,678,679,686,687,688,691,693,696,698,700,706,709,711,712,714,716,722,727,729,731,737,738,740,743,745,746,748,750,753,756,758,760,762,765,770,771,773,775,776,781,784,786,787,790,793,798,801,802,805,811,816,821,822,825,828,834,837,839,840,846,848,850,857,858,863,866,871,872,873,879,880,883,886,892,896,898 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,4,7,8,12,18,19,21,26,27,31,33,42,47,48,50,51,54,58,59,61,62,66,68,69,71,75,77,80,83,85,86,87,89,94,96,100,101,106,110,113,118,122,125,132,141,142,143,144,146,150,152,157,159,161,163,164,165,167,171,174,177,178,179,182,184,198,200,202,203,205,209,211,214,219,222,223,225,232,236,237,242,243,245,250,253,257,259,262,265,271,275,278,280,281,285,287,288,289,294,295,296,301,302,307,311,313,317,318,319,322,323,326,328,331,335,338,342,353,354,357,359,362,363,366,367,369,370,371,373,374,375,377,378,380,385,387,391,393,394,399,402,404,405,406,409,413,415,417,419,421,422,423,424,428,429,431,433,434,441,442,444,445,449,450,451,454,458,459,461,465,466,468,471,473,476,477,481,484,487,491,495,497,498,501,506,509,511,513,515,516,520,521,523,524,528,529,530,533,539,541,545,551,552,554,555,557,561,566,567,570,577,579,583,584,586,588,589,598,600,606,608,609,612,616,617,621,624,627,634,651,654,656,660,661,665,668,671,674,681,688,689,690,693,694,696,699,700,701,702,706,708,710,711,713,717,722,724,727,729,731,733,738,739,740,743,745,749,751,752,753,756,758,759,761,762,767,768,770,772,773,775,777,786,789,792,794,795,801,806,809,815,816,818,822,824,829,831,832,834,835,839,841,843,844,845,848,850,851,854,857,860,863,866,868,870,876,878,882,884,885,886,887,889,890,892,898,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 4,5,6,8,10,11,13,15,17,19,20,26,27,30,31,33,38,47,50,52,53,56,59,61,63,65,68,69,71,72,86,89,91,98,101,107,108,109,112,114,118,120,121,122,139,142,146,148,150,154,157,158,161,163,166,167,169,173,174,176,178,180,181,184,187,188,190,195,197,199,200,201,207,208,214,216,217,220,222,230,235,236,239,245,249,251,252,255,256,257,259,262,265,268,269,270,274,276,279,281,284,287,289,290,292,293,294,296,299,302,306,307,309,315,317,322,323,327,328,331,337,340,341,346,348,350,352,355,357,363,367,368,371,375,380,381,383,385,388,395,396,401,404,406,408,415,416,419,420,423,425,426,427,428,429,430,431,433,435,436,440,445,447,462,464,465,469,472,475,477,478,480,485,486,488,491,495,501,503,504,505,506,507,509,511,516,521,522,525,526,527,531,532,535,536,538,542,547,548,557,559,562,563,565,566,569,572,574,577,581,585,587,590,591,594,597,601,603,612,615,618,621,623,624,626,627,632,634,639,641,642,649,658,660,662,665,667,669,670,676,683,685,693,694,696,697,699,703,706,707,712,713,718,722,723,725,728,730,732,733,735,737,742,745,747,749,750,752,754,755,757,759,761,763,767,769,771,777,779,781,782,783,785,791,794,795,798,799,801,802,805,808,810,815,817,818,821,822,824,826,827,829,830,831,836,838,841,844,845,846,850,852,855,857,861,862,863,865,869,870,873,874,877,881,882,884,885,893,895,896,898,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 2,5,6,8,9,12,14,15,17,20,21,24,25,28,31,37,40,41,45,48,50,52,54,57,60,62,64,66,69,71,74,76,78,79,81,84,93,94,96,97,99,107,109,110,113,116,119,122,124,127,131,133,134,135,139,140,143,144,147,149,150,157,158,164,165,167,170,171,173,174,179,181,183,184,185,187,190,193,197,199,201,202,208,211,214,215,217,219,221,226,228,230,232,235,236,237,250,251,253,259,260,261,263,264,268,274,278,281,283,287,288,290,291,293,294,296,298,301,303,306,309,315,319,320,322,323,326,331,332,334,336,337,340,342,347,349,350,354,355,358,360,362,363,365,366,370,373,374,375,377,382,383,387,388,392,395,396,402,404,406,408,409,412,413,415,417,419,420,422,423,425,429,431,433,435,437,439,447,449,454,457,458,470,472,476,478,483,485,486,488,492,494,495,496,497,504,505,509,512,518,521,523,527,528,529,531,536,538,540,543,544,546,547,548,550,551,555,556,559,560,562,564,568,569,570,574,577,583,584,585,587,591,595,598,602,604,606,607,612,615,619,621,625,631,633,635,638,640,646,648,650,653,655,657,659,663,665,672,673,678,679,681,682,683,685,689,693,694,696,701,704,705,706,708,709,714,715,716,718,721,723,727,729,737,742,743,746,749,752,753,754,757,760,763,765,767,768,773,775,781,787,788,790,797,802,803,808,809,812,813,822,826,827,828,830,832,835,837,840,843,845,846,848,849,850,853,855,856,859,860,861,863,864,866,867,870,879,881,885,886,891,896,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 4,5,8,10,12,14,18,19,20,21,28,29,33,34,36,40,44,45,47,50,52,55,58,61,64,67,68,71,73,75,76,78,80,81,84,86,87,91,94,99,102,103,105,107,110,111,112,114,116,119,121,123,130,131,133,138,140,141,144,146,148,151,158,161,162,165,167,168,169,172,173,175,182,189,194,196,197,199,202,204,207,212,214,215,218,224,225,229,231,236,237,242,243,245,246,248,249,250,254,255,260,261,265,266,269,270,273,275,281,285,288,297,299,300,302,303,304,305,309,312,314,316,319,322,326,328,329,332,334,336,338,341,344,346,348,355,357,359,363,364,365,367,369,372,373,378,381,383,387,389,390,392,395,397,398,405,406,410,411,413,419,421,423,424,427,429,431,437,443,445,451,454,456,461,464,469,470,472,473,474,479,480,482,483,486,491,492,493,495,501,503,506,510,516,520,521,523,525,531,540,544,548,549,551,552,555,556,558,559,562,564,568,569,573,574,575,578,583,588,593,595,599,600,602,608,610,618,623,625,627,630,631,632,635,638,640,641,642,648,650,657,659,661,666,671,673,674,677,678,681,683,685,686,690,691,693,697,699,700,702,703,704,705,711,712,715,721,722,724,725,727,731,733,736,740,743,745,746,750,752,753,754,755,758,766,769,771,772,773,775,777,779,781,783,785,787,790,792,796,799,801,806,816,818,822,824,825,829,831,833,835,841,847,848,849,851,852,859,861,863,865,869,871,873,874,876,878,879,880,882,884,888,889,891,892,894,896 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,5,12,17,19,22,23,26,29,30,32,34,38,41,44,45,47,48,51,52,55,62,64,70,77,81,83,84,86,87,88,90,94,95,99,100,102,104,105,106,112,115,118,124,125,127,130,131,133,136,140,141,142,149,151,153,154,155,156,159,160,161,162,165,166,167,168,170,171,173,174,179,184,186,190,192,193,194,199,201,204,206,208,215,217,219,221,225,228,231,237,239,248,249,252,258,260,264,265,272,274,277,279,281,282,285,291,293,296,297,298,300,305,311,312,317,318,319,322,324,326,328,330,332,334,339,340,346,351,355,357,360,361,363,365,366,369,376,379,383,386,391,392,396,399,400,404,407,409,410,414,416,418,420,421,424,427,428,429,431,432,435,436,438,441,443,445,446,448,453,455,456,458,460,463,465,467,470,471,475,480,481,482,483,484,489,490,491,493,497,499,500,501,503,505,510,513,515,516,517,520,521,522,526,527,534,540,541,543,550,551,555,558,559,564,568,573,574,576,578,581,583,585,587,589,590,596,605,606,612,614,616,617,618,620,622,623,625,628,634,639,642,643,648,652,655,657,659,661,665,666,669,670,672,673,674,677,679,680,683,685,687,690,694,696,702,705,709,710,711,713,714,716,720,721,723,725,726,728,729,733,735,736,740,745,747,749,751,754,755,756,761,762,763,765,766,768,769,773,774,777,780,784,786,788,790,794,801,804,806,808,816,818,819,828,831,832,836,838,840,843,844,845,847,859,863,864,866,868,870,872,874,878,879,885,891,895,897,898,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,3,9,11,14,15,16,17,19,23,25,27,29,30,32,33,35,36,45,48,59,60,61,62,71,73,76,79,87,89,91,93,95,98,101,105,114,115,117,118,123,124,127,130,139,142,144,146,147,150,152,155,156,157,159,162,167,171,172,173,179,181,183,185,187,189,190,194,196,198,200,204,207,208,210,211,216,218,220,221,225,229,233,235,237,239,241,244,245,246,248,249,250,253,257,261,267,270,273,274,275,278,280,282,284,287,290,293,298,302,304,308,311,312,313,315,317,319,320,321,322,324,326,330,333,334,336,337,339,342,344,346,347,354,356,357,358,362,364,365,369,372,378,379,386,391,392,393,396,398,403,408,409,414,415,416,425,428,431,432,439,440,448,453,455,457,458,461,464,465,469,471,479,481,483,485,489,491,496,497,502,504,507,509,510,513,514,521,523,525,526,527,528,530,534,535,538,540,542,544,547,550,551,554,559,562,565,567,568,570,575,576,578,579,580,585,586,588,590,591,594,597,598,599,601,604,605,609,613,614,615,617,619,621,622,626,629,630,635,636,638,639,643,645,647,650,652,654,655,656,659,660,662,665,667,668,672,674,677,680,689,693,694,695,698,699,703,705,708,711,715,716,720,723,729,730,731,733,735,737,740,741,744,749,752,755,758,759,763,765,769,776,778,781,784,785,788,790,792,793,797,804,806,807,808,811,813,816,818,820,821,822,824,825,828,829,831,844,850,851,853,855,857,858,861,862,864,872,876,880,881,884,886,892,895,896 --> row.names NOT used”Warning message in eval(xpr, envir = envir):
“model fit failed for Fold08: vars=35 Error in fitter(btSamples[[iter]], x = x, y = y, ctrl = bagControl, v = vars,  :
  task 1 failed - "could not find function "lev""
”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,5,10,11,15,17,20,23,24,26,30,32,38,42,44,46,48,49,52,54,55,57,62,63,65,67,71,73,74,75,78,79,80,82,84,90,91,96,97,98,100,105,108,113,115,118,120,124,125,130,132,134,135,144,147,149,152,153,154,156,157,160,161,162,166,167,169,171,172,173,175,178,180,183,190,195,197,200,202,203,207,208,209,214,216,220,222,223,224,228,229,231,233,236,240,253,254,256,260,262,266,267,269,274,276,277,279,283,290,292,293,297,299,301,303,304,306,308,309,311,314,316,318,319,321,323,329,330,332,333,335,339,342,345,348,351,355,357,359,360,362,363,365,369,372,374,375,380,385,387,388,389,390,396,398,403,405,408,410,412,413,416,420,423,426,428,434,437,438,439,441,443,445,447,450,452,454,457,461,474,477,482,484,491,496,504,505,506,510,512,514,515,516,522,525,528,530,535,538,540,542,544,549,554,556,558,559,561,563,567,568,570,573,575,577,580,581,585,589,591,592,595,596,599,601,606,609,610,614,615,619,620,621,627,634,636,638,640,643,647,651,652,656,659,662,663,665,668,670,672,678,679,687,693,696,699,701,705,706,711,716,717,720,721,724,727,730,732,735,738,741,743,744,747,751,762,765,766,768,769,770,773,777,778,779,781,783,785,788,792,794,802,803,805,809,814,816,820,821,824,826,828,829,831,832,834,835,838,841,842,846,848,851,852,855,856,860,861,863,866,867,868,871,873,875,876,882,887,890,893,894,895,898 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 4,6,7,8,9,10,13,15,16,22,24,27,28,31,33,35,36,38,43,46,47,49,52,53,55,56,61,68,69,82,85,87,89,91,93,95,97,100,104,106,111,118,119,128,133,135,136,140,143,146,152,153,157,159,160,162,164,167,168,170,172,174,178,179,185,191,195,197,198,205,210,211,212,214,218,221,223,226,229,232,236,237,247,250,251,254,255,262,263,271,272,273,276,282,287,290,293,304,305,306,308,311,312,313,314,316,320,324,328,329,330,334,335,336,338,339,344,346,348,350,358,360,362,363,364,367,370,375,376,378,380,382,386,391,393,396,402,404,406,408,409,411,414,416,417,420,424,426,428,430,431,432,435,439,441,442,445,446,449,450,454,456,460,464,466,468,473,475,482,485,487,490,496,498,501,503,504,506,510,514,519,522,525,532,533,534,539,543,546,550,551,558,560,563,564,566,567,569,571,574,575,577,578,579,581,584,586,587,588,590,592,593,595,596,602,603,608,612,614,618,619,621,624,626,628,631,634,646,652,653,654,655,658,661,663,666,669,672,675,679,681,682,684,685,687,688,690,693,700,706,709,710,713,715,717,718,721,727,729,734,735,736,737,739,743,745,752,754,755,763,765,766,768,769,772,778,784,785,800,803,805,806,808,809,813,815,819,821,823,827,829,830,832,834,836,837,838,841,842,844,846,848,851,852,855,857,858,861,863,864,865,870,873,876,878,879,883,885,886,888,889,892,893,894 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 4,10,14,16,17,23,25,26,27,28,30,31,32,34,37,43,54,55,57,58,60,64,65,66,71,74,76,80,82,85,88,89,96,97,100,102,104,106,107,110,112,113,116,119,125,126,129,131,142,145,147,148,149,152,154,155,158,159,161,163,166,168,172,173,175,179,180,185,186,188,196,199,201,202,205,207,210,212,213,218,225,226,228,233,234,236,237,239,240,243,246,247,251,263,268,269,270,272,274,276,278,279,284,286,288,289,291,294,297,299,301,305,309,314,316,319,320,321,322,324,325,329,331,333,336,341,344,345,348,351,352,354,358,362,363,365,366,372,374,375,376,378,386,389,390,395,396,399,401,405,409,410,411,424,425,429,431,433,434,437,440,441,442,445,451,455,457,460,466,470,472,476,477,479,481,486,488,489,494,496,498,502,505,508,510,513,514,521,524,526,529,532,533,535,537,539,541,543,547,549,551,552,555,561,565,566,574,575,577,580,581,588,592,593,594,597,598,600,601,602,607,610,613,615,616,618,620,621,628,629,635,636,637,641,646,648,649,651,655,658,659,664,669,674,675,680,681,685,687,688,697,698,701,704,710,716,719,723,725,728,729,731,738,743,745,748,749,751,753,754,758,760,762,764,766,769,770,773,777,778,780,782,784,785,786,789,791,792,798,800,802,803,807,808,811,813,817,819,822,826,828,829,832,834,837,839,842,845,848,851,852,853,854,856,859,861,865,866,868,872,875,881,886,888,889,890,892,895,897,899,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,5,10,12,13,15,17,18,20,22,25,28,30,31,33,38,41,50,53,55,62,66,68,70,76,77,79,80,82,83,84,89,93,94,96,98,104,106,121,130,131,132,135,139,141,143,146,147,149,150,151,157,159,160,161,164,165,172,174,175,179,180,182,183,186,187,189,192,194,195,197,199,202,206,209,212,218,219,221,222,225,227,228,229,231,233,234,237,239,248,251,252,255,261,263,266,277,278,282,287,289,290,294,296,299,304,305,308,311,318,319,321,329,330,331,336,337,341,345,349,350,353,354,356,360,362,364,365,367,371,372,373,376,379,381,383,389,393,395,397,399,400,402,403,406,409,412,413,414,416,418,419,420,422,423,426,431,433,434,435,437,440,441,443,446,448,449,455,457,463,465,466,468,470,471,475,476,479,483,484,488,489,491,492,494,495,496,499,501,504,506,508,509,511,514,517,520,521,525,527,530,531,535,542,545,547,548,549,551,552,556,557,562,565,569,570,574,575,581,585,589,591,596,598,599,601,605,606,613,614,616,617,618,620,624,626,627,629,634,635,636,639,641,642,643,645,647,651,653,656,658,662,667,668,671,672,674,675,676,681,683,685,686,688,691,699,702,704,705,709,715,720,722,726,727,729,730,732,738,744,748,750,752,755,757,761,762,765,767,769,773,774,777,778,784,785,788,790,791,794,797,798,799,801,803,804,808,810,811,815,818,819,826,828,829,830,832,837,838,843,844,848,852,854,859,863,869,870,873,878,880,881,883,886,888,893,895,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 4,9,21,22,25,29,37,38,41,43,45,46,49,50,52,56,58,61,63,70,72,74,84,89,92,99,103,105,107,110,112,115,118,119,122,123,124,126,127,131,132,133,136,137,141,143,146,150,151,152,154,156,161,163,167,169,171,174,178,179,181,184,186,189,190,201,202,206,209,211,214,219,221,225,228,229,232,233,234,236,242,244,248,251,255,256,260,261,262,265,266,269,272,275,277,280,281,283,288,289,297,299,300,302,303,304,307,309,311,314,317,318,322,324,328,330,332,334,335,338,339,342,345,346,347,351,352,354,358,361,362,365,368,369,372,375,378,380,385,386,394,400,405,410,411,415,417,418,420,421,429,431,434,436,439,440,442,444,446,450,454,455,456,459,461,463,467,469,471,473,479,481,484,485,486,490,492,498,499,504,508,514,515,520,524,526,530,531,533,535,537,543,550,554,556,557,565,566,568,570,571,572,575,576,577,580,581,582,584,585,587,589,591,593,597,599,601,603,604,609,611,613,615,616,618,623,625,627,628,630,636,638,639,640,642,643,645,653,657,659,661,664,668,669,671,674,675,677,682,685,688,689,693,698,700,702,704,709,711,713,715,720,721,724,727,731,732,737,739,741,742,746,747,748,754,755,757,759,761,763,765,769,771,772,777,782,791,793,798,799,800,805,807,809,812,813,814,816,818,820,829,830,834,835,839,840,844,846,857,859,860,862,863,870,873,879,880,887,889,891,895 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,11,19,20,23,24,26,29,30,32,34,36,39,41,43,46,50,53,56,60,62,65,68,73,77,78,80,86,87,90,95,97,98,100,101,104,105,107,111,112,114,117,119,125,132,133,139,144,148,149,151,152,155,156,158,160,164,165,167,171,175,177,179,181,184,188,191,192,195,196,198,208,211,212,214,215,217,223,227,229,230,237,243,244,246,247,248,249,251,256,259,260,264,269,271,275,277,280,281,288,290,291,298,299,302,307,314,316,318,319,321,322,328,330,331,334,339,343,347,349,352,355,358,361,363,367,368,369,371,374,380,381,382,385,387,391,393,394,399,403,405,406,409,410,413,417,420,422,427,428,430,432,434,441,444,447,448,454,456,464,466,467,469,472,474,476,477,478,480,495,500,503,505,506,509,514,515,517,518,519,523,527,532,534,536,544,545,548,551,552,554,558,562,563,565,568,569,571,574,576,579,581,584,589,591,600,602,604,605,607,610,617,618,619,621,624,627,629,636,638,641,643,645,646,647,649,651,653,655,658,659,666,667,671,674,675,686,692,693,694,698,702,705,710,712,715,718,724,725,729,737,739,740,742,746,747,748,749,751,754,755,757,759,761,763,764,766,771,776,777,782,790,793,795,796,798,802,804,806,809,811,815,816,818,824,825,826,827,835,836,841,849,850,854,856,860,861,862,864,866,867,870,871,874,875,877,886,887,892,893,896 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,4,8,10,11,15,16,18,20,22,23,27,28,32,33,35,36,39,41,42,46,49,51,52,54,63,65,71,74,76,80,85,88,91,92,93,94,96,99,101,107,108,112,113,114,115,121,122,124,139,140,141,142,144,146,148,153,155,156,165,171,172,175,178,179,181,188,191,193,194,197,198,199,201,204,205,207,209,211,214,215,217,224,227,234,236,238,240,243,248,249,253,260,263,264,266,268,272,273,274,276,277,279,282,286,289,291,293,294,296,300,302,303,305,311,312,315,317,318,320,326,327,328,330,334,336,340,345,350,351,352,355,358,362,365,366,368,369,374,375,379,381,385,391,401,402,405,407,412,415,417,421,422,423,426,428,430,435,436,437,440,441,444,445,446,447,451,456,461,462,463,468,471,474,478,481,485,487,489,493,494,498,503,505,506,513,514,516,517,522,525,528,534,535,537,541,545,548,549,550,557,560,565,567,568,570,572,574,575,577,579,583,585,587,592,593,596,599,600,602,604,605,607,612,613,615,616,618,619,624,625,627,629,630,632,636,639,641,644,645,647,649,656,659,662,663,666,672,675,679,680,684,691,692,699,702,704,709,711,713,717,718,719,725,726,728,729,733,738,741,743,747,748,753,762,764,766,775,776,779,783,785,787,789,793,796,797,798,800,801,806,809,810,812,814,817,819,820,822,824,827,828,830,835,836,838,840,841,845,849,852,854,856,857,859,866,869,871,874,875,876,881,882,885,886,888,893,894,895,898,899 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 2,4,7,9,11,12,16,17,19,20,23,25,27,32,33,35,36,38,40,41,43,45,49,53,55,56,64,66,67,70,73,76,78,82,84,86,90,95,97,100,105,107,109,111,114,115,120,122,124,125,129,131,132,134,135,136,139,143,145,149,156,160,163,169,174,175,177,180,185,187,194,195,197,199,204,205,206,208,210,214,218,219,221,222,223,228,230,233,236,237,240,243,245,250,252,253,262,264,266,270,273,274,275,278,279,282,285,290,297,298,302,305,306,307,309,311,314,316,318,321,322,329,336,338,340,341,343,347,349,350,352,361,365,366,367,369,372,374,383,384,385,389,390,391,395,396,403,404,407,408,411,413,414,416,420,424,427,429,430,432,440,443,445,449,451,452,454,457,460,462,466,467,471,474,477,478,479,482,485,490,491,492,495,497,502,504,509,510,514,516,523,524,528,530,533,534,535,540,541,542,546,547,548,550,554,558,560,564,565,566,569,579,580,583,584,587,590,592,593,604,605,609,612,615,616,625,626,628,629,630,632,635,638,641,642,643,644,651,654,660,662,664,669,676,681,683,686,688,690,691,693,697,702,705,710,712,713,715,717,720,728,729,730,732,734,736,737,739,743,746,749,753,755,761,763,766,773,783,786,790,798,800,808,812,813,814,816,818,827,830,831,834,836,839,840,841,842,844,846,848,849,853,857,859,861,862,864,882,884,887,888,894,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,6,8,14,16,19,26,27,29,33,35,37,40,42,43,48,51,52,53,56,57,59,60,63,64,69,70,74,75,81,83,86,87,88,91,92,93,98,100,102,107,109,113,114,117,118,119,122,126,129,130,132,133,137,139,140,141,145,149,151,153,154,159,160,161,163,173,177,182,183,185,186,190,194,196,199,204,206,208,211,213,215,217,221,226,228,229,230,235,237,238,240,241,243,247,251,255,259,266,268,273,276,279,280,282,283,287,288,292,294,295,300,304,305,309,314,315,321,325,327,331,332,336,338,339,340,341,349,351,352,355,357,358,367,374,376,378,383,384,385,386,389,393,395,397,399,408,411,413,415,416,419,424,428,430,434,437,438,440,441,444,449,451,454,455,457,459,463,464,467,469,471,473,477,485,487,489,499,500,503,506,507,509,510,512,514,515,517,521,523,524,530,531,532,536,539,547,548,551,559,564,567,568,572,573,578,581,582,585,587,588,589,592,595,596,599,600,602,604,605,607,610,614,615,617,619,622,623,627,631,634,636,640,642,645,647,649,651,657,659,660,661,663,666,669,671,672,674,675,681,685,686,687,688,692,701,708,710,711,714,718,720,721,724,725,729,731,733,734,736,737,740,742,745,747,751,755,756,758,760,763,766,767,771,773,774,775,778,780,784,786,789,790,791,793,794,798,800,801,802,812,814,819,830,831,832,837,839,846,848,852,855,857,859,860,867,869,870,871,873,876,884,887,888,891,893,895 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 8,11,13,14,17,25,30,32,33,35,36,38,45,46,49,52,56,62,63,65,67,68,69,73,74,78,80,82,83,84,89,91,93,94,95,99,101,104,105,106,108,110,111,114,115,117,123,126,127,131,135,137,140,142,143,148,149,154,156,157,159,160,162,163,165,167,170,175,177,179,181,184,186,188,192,196,199,202,209,210,212,213,216,218,225,229,233,234,242,243,246,247,249,254,258,261,263,264,266,267,277,278,279,282,284,286,288,293,295,300,301,304,305,307,316,321,326,327,331,332,336,338,339,341,343,344,346,347,349,352,353,357,358,360,362,363,367,370,373,374,376,379,380,388,391,393,396,399,402,403,404,406,409,413,414,417,418,424,429,432,435,438,439,441,444,447,448,449,452,454,455,456,460,465,467,468,469,473,474,476,480,485,489,492,495,497,498,499,501,503,504,510,513,517,521,523,524,527,529,531,532,534,536,541,545,547,548,553,554,555,556,559,560,564,565,569,570,573,574,575,577,582,583,585,587,591,593,594,598,600,602,605,607,609,611,612,614,615,620,622,623,626,627,629,631,633,642,645,647,650,656,657,660,663,667,669,670,672,679,682,684,687,689,691,693,697,698,699,704,706,707,710,715,716,718,719,722,726,727,728,730,731,732,736,738,739,741,742,743,747,749,751,752,754,757,759,762,764,769,773,775,777,783,785,787,788,790,792,795,799,801,803,805,808,810,812,815,818,819,823,825,826,834,836,841,843,845,851,857,864,865,870,873,875,879,880,883,884,887,889,890,898,900 --> row.names NOT used”Warning message in eval(xpr, envir = envir):
“model fit failed for Fold09: vars=35 Error in fitter(btSamples[[iter]], x = x, y = y, ctrl = bagControl, v = vars,  :
  task 1 failed - "could not find function "lev""
”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 9,12,17,19,24,28,32,34,36,41,42,44,46,47,48,54,55,59,61,62,63,66,69,73,75,83,84,86,88,89,90,92,93,95,97,100,107,109,114,117,120,123,124,126,130,132,134,135,137,138,140,144,145,146,148,151,152,153,159,162,165,166,167,169,170,175,176,178,181,182,183,185,186,188,189,191,192,194,195,199,213,218,219,220,222,230,232,235,237,239,240,245,248,249,252,254,257,260,263,266,267,268,275,277,282,283,286,290,292,294,296,297,300,305,310,312,317,318,320,322,324,326,327,333,334,335,340,341,345,352,354,359,362,363,365,367,369,370,372,373,375,376,377,378,380,382,383,384,386,388,389,392,394,396,401,412,417,420,421,425,430,431,438,439,441,442,443,445,448,451,452,453,455,456,459,463,468,469,470,472,474,477,478,485,490,493,496,497,500,504,508,510,514,516,517,518,519,522,523,527,529,534,537,538,541,542,547,548,550,551,553,560,561,568,570,576,579,586,591,593,595,602,604,614,617,622,625,628,630,632,633,636,640,641,643,645,646,650,655,658,663,664,667,668,670,672,673,675,676,678,681,684,686,689,690,694,696,697,699,703,707,708,712,715,716,717,720,722,726,728,732,733,742,745,748,756,758,761,762,766,773,777,778,781,782,783,785,787,789,791,797,803,804,806,808,811,812,815,817,818,823,824,826,827,829,832,834,835,841,844,848,850,851,852,854,856,857,865,868,870,871,875,879,881,885,890,892,894,897 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 4,5,10,14,17,21,22,23,25,26,27,32,34,36,39,43,44,45,47,51,52,54,56,58,63,64,65,72,74,81,85,90,97,99,100,102,104,105,106,111,115,120,124,126,128,129,132,136,138,140,141,143,147,149,151,153,155,156,159,160,163,171,175,181,185,186,190,194,196,199,204,206,208,211,216,217,222,228,230,233,234,238,239,241,244,247,249,251,254,256,260,265,266,267,270,273,275,283,284,286,292,293,296,298,303,307,312,314,323,324,326,327,328,331,333,336,340,347,349,351,354,356,359,362,364,366,368,369,371,373,375,378,384,388,389,391,392,397,398,400,402,405,408,409,412,415,416,420,422,424,426,427,429,432,433,434,441,442,443,447,450,452,453,456,457,458,460,462,463,464,466,469,470,471,474,477,479,480,483,484,487,489,491,492,494,495,500,501,502,504,505,506,507,514,516,518,519,522,524,527,528,533,535,538,541,542,543,544,548,549,552,554,557,560,561,562,567,568,571,574,577,578,583,584,590,592,593,597,599,600,604,605,607,609,610,613,616,619,621,623,624,625,627,628,631,634,635,637,639,641,642,644,648,649,651,655,658,660,661,666,668,669,673,678,684,688,693,694,697,700,702,709,711,715,717,718,720,727,728,729,731,733,736,738,740,742,745,747,748,750,755,756,759,761,767,769,770,772,775,777,778,780,784,787,790,796,800,802,803,810,820,821,824,825,826,831,835,839,843,851,853,854,857,858,866,867,869,874,876,878,882,884,885,887,892,893 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 3,6,8,9,14,17,19,21,22,24,26,29,31,33,36,45,47,48,50,52,56,61,63,67,69,70,72,74,75,78,82,84,88,89,97,99,101,103,106,111,114,119,123,125,127,133,137,138,142,146,148,151,153,163,165,167,169,171,172,177,183,189,194,197,199,200,206,207,209,210,214,216,217,219,220,223,224,225,227,229,232,234,236,237,240,244,248,252,253,256,257,259,261,262,263,266,272,276,278,280,283,287,293,296,302,304,307,310,311,313,314,321,325,328,330,331,337,341,345,346,348,350,351,352,355,357,362,363,364,366,367,368,373,374,376,377,379,381,383,385,388,392,398,402,407,409,414,418,422,427,431,432,433,435,437,438,442,445,449,452,457,460,462,466,469,475,480,485,486,487,488,495,499,501,503,505,509,512,513,515,517,518,520,521,524,525,527,529,531,533,534,536,537,539,541,546,549,550,553,556,558,563,565,566,569,574,576,577,578,582,583,584,591,592,595,596,600,603,605,607,610,613,614,616,618,620,623,625,630,633,634,640,644,654,657,662,666,673,676,677,679,680,682,683,684,686,688,691,696,701,704,706,710,711,712,713,718,720,722,723,725,729,731,733,736,743,745,746,748,751,753,757,758,765,766,769,772,773,775,777,778,780,785,787,794,796,797,799,800,802,806,807,808,812,814,815,816,818,820,822,823,829,831,835,836,838,840,845,847,848,854,857,868,872,873,876,881,883,884,889,890,891,894,896,898,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,5,7,8,13,16,17,23,24,26,30,31,33,34,35,43,47,48,50,52,54,55,59,65,66,67,69,71,72,75,76,79,83,86,89,90,93,98,100,101,105,109,110,112,113,116,117,119,120,125,131,137,141,145,147,149,152,154,158,160,161,162,167,172,173,177,178,181,182,184,190,192,193,194,197,198,200,202,204,208,209,216,218,224,225,226,228,229,231,232,233,236,241,243,245,246,250,253,254,256,264,267,269,271,274,275,277,278,280,285,290,291,293,302,307,310,311,314,315,317,320,321,324,325,334,336,337,340,344,353,355,356,360,364,367,369,370,373,378,388,389,390,395,396,399,400,401,407,410,417,419,421,423,426,427,428,431,435,437,438,439,440,443,445,447,455,461,463,471,478,479,484,486,490,495,497,498,500,502,503,505,508,510,511,513,515,519,524,526,528,531,533,538,539,541,544,547,548,551,554,561,563,568,570,573,574,577,578,582,583,585,586,594,598,599,600,602,604,605,606,610,611,619,620,623,624,626,631,635,637,639,640,642,645,648,649,651,654,657,659,664,665,666,667,668,669,671,673,678,686,689,697,701,704,713,714,719,720,722,724,726,731,732,734,736,739,741,743,745,747,748,750,752,755,756,758,760,762,763,765,767,770,772,776,779,780,783,784,787,793,796,799,800,801,804,808,811,814,816,818,822,823,826,828,830,832,834,835,839,841,848,850,852,855,865,870,871,872,875,878,880,881,883,885,888,889,892,895,897,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,3,5,10,11,12,15,19,20,22,27,30,35,38,39,43,44,46,47,51,52,53,59,65,66,74,75,76,79,81,83,88,90,92,97,98,101,105,108,110,112,113,115,118,120,121,124,128,131,134,136,137,138,144,154,156,165,166,168,172,176,181,182,184,188,193,197,204,205,210,211,213,217,221,228,229,231,236,237,241,247,248,250,254,255,259,261,262,267,268,271,274,276,277,278,279,282,283,284,285,291,292,293,297,298,303,304,305,311,314,317,319,322,324,327,330,332,333,337,338,345,351,354,357,361,363,367,369,372,373,374,377,378,381,386,389,391,393,395,397,401,402,405,410,411,413,415,418,426,427,429,432,436,439,440,441,442,444,446,447,450,453,455,458,461,463,464,467,469,471,472,473,475,476,479,481,485,488,491,494,496,499,501,506,510,515,516,518,522,525,529,536,537,540,544,547,548,549,554,557,558,564,565,568,570,577,578,579,581,584,588,590,591,594,595,597,599,601,605,606,611,613,615,620,626,627,629,632,634,636,641,642,647,648,649,650,651,655,657,659,660,669,671,672,673,675,678,686,688,691,693,696,699,703,706,707,710,713,717,721,724,726,730,733,735,737,743,745,747,748,750,752,755,758,760,766,770,771,773,777,780,781,782,789,791,792,794,798,799,802,805,807,808,810,811,814,815,819,822,827,828,833,835,836,839,840,843,844,847,848,856,857,858,859,860,862,863,865,866,868,870,878,882,883,886,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 3,4,6,11,13,14,17,20,24,26,28,31,32,34,37,39,42,44,46,47,50,51,54,58,59,61,63,64,69,72,74,77,82,87,89,91,94,98,99,101,106,110,111,112,114,117,119,125,126,129,130,132,140,141,144,152,153,154,156,158,161,163,166,169,172,177,182,183,184,186,190,191,192,194,196,197,200,202,204,205,208,212,213,215,216,222,228,231,232,234,235,238,248,250,252,255,257,262,264,267,269,274,275,277,279,284,288,289,292,294,297,302,304,307,311,312,314,315,316,318,322,324,325,328,329,331,333,334,335,339,343,348,351,355,356,358,361,363,365,366,373,376,379,383,387,392,395,396,397,399,402,404,409,410,421,423,425,426,435,436,440,445,448,450,456,457,462,465,468,471,473,475,479,481,483,485,489,490,494,496,497,498,499,501,503,505,506,510,512,513,515,518,523,527,528,531,533,535,538,541,547,549,553,554,555,558,559,560,561,571,572,576,585,587,591,594,597,599,601,606,607,608,612,618,620,622,625,626,631,632,637,639,643,649,650,654,660,662,663,665,666,673,674,676,685,686,691,692,694,703,706,707,710,711,712,714,716,718,719,721,724,726,728,734,737,739,741,743,744,746,748,749,751,753,759,760,765,767,769,771,772,784,787,790,791,794,796,799,803,804,808,809,811,815,816,820,821,823,828,831,834,837,841,844,846,849,851,856,857,864,865,867,870,873,874,876,881,885,888,889,892,894,895 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,4,6,9,10,16,17,20,27,28,30,31,33,34,36,40,42,44,48,54,56,59,62,65,67,71,77,78,79,80,84,87,90,94,96,99,102,103,105,107,110,112,114,118,124,128,135,136,141,143,144,145,149,151,155,156,158,160,161,163,165,166,170,172,175,176,181,182,187,189,191,192,195,197,199,201,203,205,206,207,209,211,213,214,221,226,238,242,248,254,256,258,261,262,268,273,280,281,282,285,289,291,293,294,295,296,297,298,299,301,306,308,313,316,317,319,322,323,324,326,328,333,341,342,346,348,350,351,354,356,357,359,363,368,372,373,377,378,381,384,386,387,390,392,395,398,400,402,404,405,408,416,420,421,424,427,429,436,437,439,440,443,446,451,452,454,458,462,463,465,467,470,473,476,478,482,490,491,501,503,504,505,507,508,509,513,514,516,517,518,519,520,524,525,530,533,534,539,546,548,549,553,554,559,560,563,564,565,566,568,569,570,572,574,575,579,582,585,586,589,592,594,597,599,601,604,606,608,616,618,620,626,639,642,647,648,650,654,656,657,659,662,664,667,670,672,674,678,679,682,684,688,691,695,697,702,705,708,711,712,714,716,718,720,724,733,735,736,737,740,741,744,748,751,754,757,758,762,764,765,767,769,771,778,782,783,784,786,789,795,797,799,801,802,809,812,814,818,822,823,825,826,833,834,837,838,839,842,843,847,849,850,852,855,857,860,865,870,872,876,877,879,881,884,887,888,894,896,898,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,4,10,11,12,15,19,22,25,28,33,35,36,38,40,44,45,48,50,52,54,55,59,61,63,65,68,74,75,77,78,79,83,85,87,89,93,96,98,99,101,102,104,107,108,109,113,121,123,125,126,132,136,138,140,145,146,151,161,163,166,167,169,171,172,183,184,188,190,194,195,198,208,214,216,222,226,227,228,230,233,237,238,240,243,245,247,250,252,258,259,262,264,265,267,274,278,281,282,286,291,292,299,301,304,308,311,312,313,315,318,321,323,327,332,334,339,341,343,345,347,348,356,363,371,378,380,381,382,384,385,387,388,391,392,396,397,399,405,408,411,413,417,419,424,425,426,428,430,431,434,440,446,449,450,452,453,456,459,461,464,466,469,473,476,478,486,489,498,504,507,511,513,515,516,519,527,531,533,535,538,539,543,546,550,552,557,564,567,571,572,576,581,583,585,589,595,601,602,604,613,616,617,622,624,625,627,629,631,636,638,640,641,642,650,651,658,661,665,666,677,678,680,681,684,685,686,688,695,697,700,704,705,711,714,719,721,726,731,733,735,736,737,738,739,741,743,746,750,751,752,753,756,757,764,765,769,772,775,781,783,784,787,789,791,792,794,796,797,801,803,805,812,813,817,820,821,823,828,831,834,836,838,841,842,844,848,849,851,852,854,857,859,862,869,871,874,876,877,879,881,882,883,887,890,893,897 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):

“some row.names duplicated: 2,5,6,10,11,15,16,19,21,23,26,28,33,37,38,40,41,44,45,47,49,51,53,59,63,64,67,71,72,74,75,78,79,82,83,85,87,89,91,92,97,99,101,103,105,107,108,113,118,122,123,128,129,133,134,136,139,147,148,152,156,158,159,163,165,166,168,169,175,178,179,183,188,190,193,194,199,202,209,213,214,220,222,227,229,231,233,239,241,247,248,251,257,258,260,261,263,264,266,267,270,273,278,281,284,291,293,300,301,305,306,307,310,312,313,319,322,324,325,326,327,332,333,336,338,344,346,348,350,352,353,355,359,363,366,368,369,370,372,375,377,379,380,382,388,392,395,396,398,399,401,402,412,413,415,417,419,421,422,424,429,430,433,436,438,442,443,454,456,459,462,465,468,470,473,475,477,482,484,485,486,489,490,494,495,498,500,502,507,508,511,513,515,516,521,523,530,533,534,541,545,546,548,550,551,553,556,560,564,568,569,571,572,575,577,578,583,586,600,604,606,608,609,611,612,613,615,616,617,619,620,621,623,627,628,630,632,633,635,641,645,648,649,651,652,657,659,661,662,668,672,675,679,680,682,685,689,690,692,698,701,703,704,709,711,713,716,717,720,723,726,727,736,737,739,743,744,751,753,754,760,761,762,763,771,774,780,786,791,792,794,797,803,806,823,827,829,831,835,847,849,850,852,854,856,862,863,868,871,874,878,881,883,885,887,890,892,893,898,899,900 --> row.names NOT used”Warning message in data.row.names(row.names, rowsi, i):
“some row.names duplicated: 2,3,9,10,13,16,18,19,23,26,28,32,37,38,40,42,46,48,56,59,62,64,75,76,78,79,85,86,87,90,91,93,94,95,96,99,106,108,109,110,112,113,118,120,123,125,127,129,131,132,135,139,140,142,146,149,152,155,159,163,165,167,169,170,180,182,183,186,187,188,189,192,193,195,197,198,200,204,205,207,212,214,223,224,226,239,243,249,252,253,255,258,260,263,272,273,277,281,287,289,291,295,297,300,302,305,307,308,310,311,316,319,321,326,327,329,331,335,339,342,345,346,349,351,353,354,358,360,366,369,371,373,379,384,385,386,388,389,401,402,405,410,413,415,416,417,419,421,424,427,428,432,436,438,443,444,448,450,453,455,461,464,465,466,473,475,479,481,485,486,489,493,495,497,502,504,505,510,511,514,517,518,519,520,522,524,525,528,532,533,537,542,544,547,552,553,561,563,567,569,570,572,579,584,586,587,592,598,599,601,602,606,608,610,612,615,616,618,623,624,625,633,634,635,639,641,645,648,649,652,654,659,661,662,665,667,669,671,673,675,677,683,686,689,693,697,698,700,702,705,707,709,710,714,716,721,723,724,726,727,728,729,734,737,739,740,743,744,745,749,754,756,757,763,765,768,769,770,772,781,782,783,791,793,797,798,799,800,801,803,806,811,814,818,821,823,830,832,834,835,840,841,843,844,849,850,852,853,855,856,858,860,861,862,865,870,872,876,879,883,891,893,898 --> row.names NOT used”Warning message in eval(xpr, envir = envir):
“model fit failed for Fold10: vars=35 Error in fitter(btSamples[[iter]], x = x, y = y, ctrl = bagControl, v = vars,  :
  task 1 failed - "could not find function "lev""
”Warning message in nominalTrainWorkflow(x = x, y = y, wts = weights, info = trainInfo, :
“There were missing values in resampled performance measures.”

Something is wrong; all the Accuracy metric values are missing:
    Accuracy       Kappa
 Min.   : NA   Min.   : NA
 1st Qu.: NA   1st Qu.: NA
 Median : NA   Median : NA
 Mean   :NaN   Mean   :NaN
 3rd Qu.: NA   3rd Qu.: NA
 Max.   : NA   Max.   : NA
 NA's   :1     NA's   :1

ERROR: Error: Stopping

In [29]:
svmbag

ERROR: Error in eval(expr, envir, enclos): object 'svmbag' not found

Error :(

## boosting

Similar to bagging, boosting uses ensembles of models trained on resampled data and a vote to determine the final prediction.
+ Resampled datasets in boosting are constructed specifically to generate complementary learners
+ Rather than giving each learner an equal vote, boosting gives each learner's vote a weight based on its past performance

Beginning from an unweighted dataset, the first classifier attempts to model the outcome. Examples that the classifier predicted correctly will be less likely to appear in the training dataset for the following classifier, and conversely, the difficult-to-classify examples will appear more frequently. As additional rounds of weak learners are added, they are trained on data with successively more difficult examples.

Boosting is most commonly used for decision trees.

In [32]:
library(adabag)

Loading required package: rpart
Loading required package: mlbench

Attaching package: ‘adabag’

The following object is masked from ‘package:ipred’:

    bagging

In [33]:
set.seed(300)
m_adaboost = boosting(default ~ ., data = credit)

In [34]:
p_adaboost = predict(m_adaboost, credit)

In [35]:
head(p_adaboost$class)

[1] "no"  "yes" "no"  "no"  "yes" "no"

In [36]:
p_adaboost$confusion

               Observed Class
Predicted Class  no yes
            no  700   0
            yes   0 300

In [37]:
set.seed(300)
adaboost_cv = boosting.cv(default ~ ., data = credit)

i:  1 Thu Jun  8 11:45:46 2017
i:  2 Thu Jun  8 11:45:52 2017
i:  3 Thu Jun  8 11:45:59 2017
i:  4 Thu Jun  8 11:46:05 2017
i:  5 Thu Jun  8 11:46:11 2017
i:  6 Thu Jun  8 11:46:18 2017
i:  7 Thu Jun  8 11:46:24 2017
i:  8 Thu Jun  8 11:46:30 2017
i:  9 Thu Jun  8 11:46:37 2017
i:  10 Thu Jun  8 11:46:43 2017

In [38]:
adaboost_cv$confusion

               Observed Class
Predicted Class  no yes
            no  594 151
            yes 106 149

In [39]:
library(vcd)

Loading required package: grid

In [40]:
Kappa(adaboost_cv$confusion)

            value    ASE     z  Pr(>|z|)
Unweighted 0.3607 0.0323 11.17 5.914e-29
Weighted   0.3607 0.0323 11.17 5.914e-29

## random forests

Random Forests combine versatility and power into a single machine learning approach. As the ensemble uses only a small, random portion of the full feature set, random forests can handle extremely large datasets, where the so-called "curse of dimensionality" might cause other models to fail.

+ An all-purpose model that performs well on most problems
+ Can handle noisy or missing data as well as categorical or continuous features
+ Selects only the most important features
+ Can be used on data with an extremely large number of features or examples
- Unline a decision tree, the model is not easily interpretable
- May require some work to tune the model to the data

In [41]:
# randomForests(train, class, ntree, mtry)
# train = data frame containing training data
# class = factor vector with the class for each row in the training data
# ntree = number of trees to grow
# mtry = number of features to randomly select at each split

In [45]:
library('randomForest')

randomForest 4.6-12
Type rfNews() to see new features/changes/bug fixes.

Attaching package: ‘randomForest’

The following object is masked from ‘package:ggplot2’:

    margin

In [48]:
set.seed(300)
rf = randomForest(default ~ ., data = credit)

In [49]:
rf

Call:
 randomForest(formula = default ~ ., data = credit)
               Type of random forest: classification
                     Number of trees: 500
No. of variables tried at each split: 4

        OOB estimate of  error rate: 23.8%
Confusion matrix:
     no yes class.error
no  640  60  0.08571429
yes 178 122  0.59333333

Trees included: 500, tried 4 variables at each split.

out-of-bag error, which unlike the resubstitution error, is an unbiased estimate of the test set error. It should be a fairly reasonable estimate of future perfomance.

### evaluating RF peformance

In [50]:
ctrl = trainControl(method = 'repeatedcv', number = 10, repeats = 10)

In [51]:
grid_rf = expand.grid(.mtry = c(2, 4, 8, 16))

In [53]:
set.seed(300)
m_rf = train(default ~ ., data = credit, method = 'rf',
            metric = "Kappa", trControl = ctrl, tuneGrid = grid_rf)

In [54]:
grid_c50 = expand.grid(.model = 'tree',
                      .trials = c(10, 20, 30, 40),
                      .winnow = 'FALSE')

In [55]:
set.seed(300)
m_c50 = train(default ~ ., data = credit, method = 'C5.0',
             metric = 'Kappa', trControl = ctrl, tuneGrid = grid_c50)

Warning message in Ops.factor(x$winnow):
“‘!’ not meaningful for factors”

In [56]:
m_rf

Random Forest

1000 samples
  16 predictor
   2 classes: 'no', 'yes'

No pre-processing
Resampling: Cross-Validated (10 fold, repeated 10 times)
Summary of sample sizes: 900, 900, 900, 900, 900, 900, ...
Resampling results across tuning parameters:

  mtry  Accuracy  Kappa
   2    0.7256    0.1311283
   4    0.7476    0.2878470
   8    0.7519    0.3346061
  16    0.7557    0.3618152

Kappa was used to select the optimal model using  the largest value.
The final value used for the model was mtry = 16.

In [57]:
m_c50

C5.0

1000 samples
  16 predictor
   2 classes: 'no', 'yes'

No pre-processing
Resampling: Cross-Validated (10 fold, repeated 10 times)
Summary of sample sizes: 900, 900, 900, 900, 900, 900, ...
Resampling results across tuning parameters:

  trials  Accuracy  Kappa
  10      0.7325    0.3215655
  20      0.7343    0.3268052
  30      0.7381    0.3343137
  40      0.7388    0.3335082

Tuning parameter 'model' was held constant at a value of tree
Tuning
 parameter 'winnow' was held constant at a value of FALSE
Kappa was used to select the optimal model using  the largest value.
The final values used for the model were trials = 30, model = tree and winnow
 = FALSE.

With a kappa of about .361, the random forest model with mtry = 16 was the winner among these eight models. It was higher than the best C5.0 decision tree, which had a kappa of about .334, and slightly higher than the AdaBoost.M1 model with a kappa of about .36. Based on these results we would submit the random forest as our final model.